@import "../../../../assets/styles/common/variables";

.root-about {
  label {
    font-family: $mainTextFamily;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
    color: $black_272;
    display: inline-block;
  }

  .textarea-zone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1260px;
    flex-direction: column;

    > div, div:first-of-type {
      max-width: 100%;
      margin-bottom: 25px;
    }
  }

  div.contactsZone {
    max-width: 1260px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & > div {
      margin-bottom: 25px;
    }

    @media only screen and (min-width: $breakpoint_l) {
      flex-direction: row;

      & > div {
        max-width: calc(50% - 7.5px);
        flex: 1;
      }
    }
  }

  @media only screen and (min-width: $breakpoint_l) {
    .textarea-zone {
      flex-direction: row;

      > div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 380px;
        margin-left: 5px;
      }

      > div:first-of-type {
        max-width: 460px;
        margin-left: 0px;
      }
    }
  }
}
