.cube-wrapper {
    display: flex;
  }
  
  .cube {
      background: linear-gradient(93.5deg, #9DE6B7 0%, #62A980 100%);
      border-radius: 4px;
      width: 332px;
      height: 179.74px;
      padding: 15px 24px;
      font-size: 32px;
      color: white;
      display: flex;
      justify-content: space-between;
      &__img {
        display: flex;
        flex-direction: column-reverse;
      }
      & span {
        max-width: 100px;
      }
      &__text {
  
      }
      &__little-box {
        background: linear-gradient(93.5deg, #9DE6B7 0%, #62A980 100%);
        width: 60px;
        height: 60px;
        opacity: 0.6;
        border-radius: 4px;
        margin-right: 10px;
        margin-top: 23%;
      }
  }