@import "../../../assets/styles/common/variables";

.profile-root {
  &, & * {
    box-sizing: border-box;
  }

  & h1, h3, h5 {
    font-family: $mainTextFamily;
    margin: 0;
  }

  & .title {
    font-family: $mainTextFamily;
    font-size: 16px;
    margin-bottom: 8px;
  }

  width: 100%;
  padding: 16px;

  @media screen and (min-width: $breakpoint_l) {
    padding: 55px 16px;
  }

  @media screen and (min-width: $breakpoint_xl) {
    padding: 55px 90px;
  }

  & .main {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint_l) {
      flex-direction: row;
    }

    & > div:not(:last-of-type) {
      @media screen and (min-width: $breakpoint_l) {
        margin-right: 20px;
      }

      & .title {
        line-height: 24px;
      }
    }

    & > div.image-section {
      & > div.image-container {
        display: flex;
        background-color: $white;
        border-radius: 12px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.03);
        padding: 24px;
        max-width: 400px;
        margin: 0px auto 17px;
        justify-content: center;

        @media screen and (min-width: $breakpoint_l) {
          width: 380px;
        }

        & img {
          width: 100%;

          @media screen and (min-width: $breakpoint_l) {
            width: unset;
          }

          border-radius: 12px;
          align-self: flex-start;
        }
      }

      & > div.btn-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;

        & button {
          min-height: 44px;
          width: 100%;

          &:first-of-type {
            max-width: calc(100vw - 40.5px - 43%);

            @media screen and (min-width: $breakpoint_l) {
              max-width: 220px;
            }
          }

          &:last-of-type {
            max-width: calc(100vw - 40.5px - 57%);

            @media screen and (min-width: $breakpoint_l) {
              max-width: 140px;
            }
          }
        }
      }

      & div.licenses {
        margin-bottom: 32px;

        & > div {
          display: flex;
          max-width: 200px;
          max-height: 75px;
          justify-content: space-between;
          overflow: hidden;

          & img {
            align-self: flex-start;
            max-width: 140px;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
    }

    & div.profile-data {
      padding-top: 13px;
      color: $black_272;
      flex: 1;

      @media screen and (min-width: $breakpoint_l) {
        max-width: 768px;
      }

      & > h1 {
        text-transform: uppercase;
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 28px;

        @media screen and (min-width: $breakpoint_l) {
          font-size: 48px;
          line-height: 57px;
        }
      }

      & > .toggler-root {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 300px;
        margin-bottom: 10px;

        @media screen and (min-width: $breakpoint_xl) {
          max-width: 400px;
          flex-direction: row;
          margin-bottom: unset;
        }

        & > button {
          text-transform: capitalize;
          font-size: 14px;
          line-height: 24px;
          padding: 0px;
          white-space: nowrap;
          margin-right: 10px;

          @media screen and (min-width: $breakpoint_l) {
            text-transform: capitalize;
            font-size: 20px;
            line-height: 36px;
          }

          @media screen and (min-width: $breakpoint_xl) {
            margin-bottom: 24px;
          }

          &.active {
            font-weight: bold;
          }
        }
      }

      & > div.main-data {
        margin-bottom: 24px;

        & > div {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
          padding: 16px 25px 16px 0px;
          max-width: 650px;

          @media screen and (min-width: $breakpoint_xl) {
            align-items: center;
          }

          @media screen and (min-width: $breakpoint_xxl) {
            flex-wrap: nowrap;
          }

          & > span {
            display: flex;
            align-items: center;
            width: 100%;

            &.price {
              flex-direction: column;

              & > span {
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 20px;

                @media screen and (min-width: $breakpoint_xxl) {
                  margin-bottom: 0px;
                  padding: 4px 0px;
                  box-sizing: border-box;
                }
              }
            }

            &:not(.city) {
              white-space: nowrap;
              min-width: 126px;
              margin-right: 20px;
            }

            &.reviews {
              margin-bottom: 20px;
            }

            @media screen and (min-width: $breakpoint_xxl) {
              &:not(:last-of-type) {
                margin-bottom: unset;
              }
            }

            &:first-of-type {
              min-width: 126px;
            }

            & svg {
              min-width: 21px;
              max-width: 21px;
              height: 21px;

              & path, circle {
                stroke: $blue_526;
              }
            }

            & h5 {
              margin-left: 18px;
              text-transform: capitalize;
              font-size: 14px;
              line-height: 24px;

              @media screen and (min-width: $breakpoint_l) {
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
        }
      }

      & > div.bio {
        @media screen and (min-width: $breakpoint_l) {
          margin-bottom: 32px;
        }

        span {
          font-family: $secondaryTextFamily;
          font-size: 16px;
          line-height: 24px;
        }
      }

      & > button {
        margin: 18px 0px 40px;
        height: 44px;
      }

      & > div.specializes {
        margin-bottom: 24px;

        & > div.tags {
          display: flex;
          flex-wrap: wrap;

          & > div {
            padding: 4px 12px;
            background: linear-gradient(93.5deg, #9DE6B7 0%, #62A980 100%);
            border-radius: 4px;
            font-family: $secondaryTextFamily;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            margin-bottom: 8px;
            text-transform: capitalize;
            margin-right: 8px;
          }
        }
      }

      & div.facts-quotes {
        margin-bottom: 30px;

        @media screen and (min-width: $breakpoint_l) {
          max-width: 460px;
          margin-bottom: unset;
        }

        & > div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @media screen and (min-width: $breakpoint_xl) {
            flex-direction: row;
            margin-bottom: unset;
          }

          & > div {
            width: 100%;
            min-height: 72px;
            display: flex;
            background: $white;
            padding: 12px 15px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.03);
            border-radius: 4px;
            margin-bottom: 10px;

            @media screen and (min-width: $breakpoint_l) {
              margin-bottom: unset;
              max-width: 220px;
            }

            & > svg {
              width: 100%;
              max-width: 18px;
              height: 18px;
              margin-top: 3px;

              path, circle {
                stroke: $blue_526;
              }
            }

            & > span {
              display: inline-block;
              font-family: $secondaryTextFamily;
              font-size: 16px;
              line-height: 24px;
              margin-left: 15px;
            }

            &:first-of-type {
              margin-bottom: 10px;

              @media screen and (min-width: $breakpoint_xl) {
                margin-right: 5px;
                margin-bottom: unset;
              }
            }
          }
        }
      }

      & div.licenses {
        > div {
          max-width: 50%;
          max-width: 300px;
          margin-bottom: 46px;

          & img {
            align-self: flex-start;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
    }
  }

  & > div.reviews {
    padding: 0px;
    margin-bottom: 56px;
    width: calc(100vw - 16px);

    @media screen and (min-width: $breakpoint_xl) {
      width: 100%;
    }

    .slider-wrapper {
      padding: unset;

      .slick-slider {
        width: 100%;

        .slick-list {
          padding: 15px 20% 0 0 !important;
        }

        .slick-slide {
          padding-right: 10px;

          @media screen and (min-width: $breakpoint_l) {
            max-width: 220px;
          }
        }
      }
    }

    & > div {
      display: flex;
    }
  }
}
