.toggler-root {
  & button {
    border: none;
    height: 100%;
    background: transparent;
    cursor: pointer;
    border-radius: inherit;
    outline: none;

    &:disabled {
      cursor: default;
    }
  }
}
