@import "../../assets/styles/common/variables";

.tabs-container {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: auto;
  background-color: #FFFFFF;
  margin-top: -59px;
  min-height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-element {
  flex: 1;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  position: relative;
  font-family: $mainTextFamilyRegular;
  font-size: 20px;
  align-items: center;
  display: flex;

  &:after {
    background-color: #ED9954;
    width: 15px;
    height: 4px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
  }

  &:hover:after {
    content: '';
    background: #ED9954;
    box-shadow: 0px 4px 4px rgba(237, 153, 84, 0.2);
    border-radius: 2px;
    margin: auto;
    left: 0;
    right: 0;
  }
}

.tab-element.active {
  &:after {
    content: '';
    background: #ED9954;
    box-shadow: 0px 4px 4px rgba(237, 153, 84, 0.2);
    border-radius: 2px;
    margin: auto;
    left: 0;
    right: 0;
  }
}

.tab-element:hover,
.tab-element.active {
  font-family: $mainTextFamily;
}

.tab-panel {}

.tab-panel.hidden {
  display: none;
}
