@import "../../assets/styles/common/variables";

.auth-form-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $grey_FBF;
  padding: 40px 0px;

  @media screen and (min-width: $breakpoint_l) {
    padding: 40px 0px;
    min-height: 680px;
  }

  p.error {
    font-family: $mainTextFamily;
    text-align: center;
    color: $red_DA1;
    line-height: 18px;
  }

  & h1 {
    font-family: $mainTextFamily;
    font-size: 48px;
    line-height: 57px;
    text-transform: uppercase;
    color: $black_272;
    text-align: center;
  }

  > div {
    width: 100%;
    max-width: calc(100% - 32px);
    @media screen and (min-width: $breakpoint_l) {
      max-width: 300px;
    }
  }

  & .auth-toggler {
    width: 100%;
    display: flex;
    align-items: center;
    height: 44px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid $grey_E0D;
    position: relative;
    margin-bottom: 24px;

    & button {
      width: 50%;
      flex-grow: 1;
      font-family: $mainTextFamilyRegular;
      font-size: 20px;
      line-height: 24px;
      text-transform: capitalize;
      color: $black_272;

      &.active {
        background: $white;
        height: calc(100% + 2px);
        width: calc(50% + 1px);
        font-family: $mainTextFamily;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.03);
      }

      &:last-of-type.active {
        margin-right: -1px;
      }

      &:first-of-type.active {
        margin-left: -1px;
      }
    }
  }

  & .social-buttons-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    & > button {
      width: 100%;
      height: 44px;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.03);
      border-radius: 8px;
      cursor: pointer;
      background: #ffffff;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.03);
      border-radius: 8px;
      border: none;
      outline: none;
      max-width: calc(50% - 8px);
      @media screen and (min-width: $breakpoint_l) {
        max-width: 142px;
      }
    }
  }

  & form {
    & > div:first-of-type {
      display: flex;
      justify-content: space-between;

      & > div {
        width: 100%;
        max-width: calc(50% - 8px);
        @media screen and (min-width: $breakpoint_l) {
          max-width: 142px;
        }
      }
    }

    & .input-label {
      display: inline-block;
      text-transform: capitalize;
      color: $black_272;
      font-family: $mainTextFamily;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 8px;
    }

    & .text-input {
      margin-bottom: 24px;
    }

    & .password-reset-trigger {
      display: block;
      padding: 0px;
      margin-top: -16px;
      margin-bottom: 29px;
      text-transform: capitalize;
      font-family: $mainTextFamily;
      color: #FFA41B;
      font-size: 14px;
      line-height: 21px;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      outline: inherit;
    }

    & > button.form-submit {
      height: 44px;
    }

    & > span:last-of-type {
      display: inline-block;
      font-family: $secondaryTextFamily;
      font-size: 16px;
      line-height: 24px;
      color: $black_272;
      margin-top: 25px;

      .linkbtn {
        font-size: 16px;
        margin-left: 8px;
        text-transform: capitalize;
      }
    }
  }
}
