@import "../../../assets/styles/common/variables";

.sidebar-root {
  &.share {
    & * {
      box-sizing: border-box;
    }

    padding: 120px 10px 40px;
    margin: 0px;
    max-width: calc(100vw - 20px);
    text-align: center;
    max-height: 466px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint_l) {
      padding: 40px 0px;
      margin: 54px auto 10px;
      max-width: 350px;
    }

    & > h1 {
      margin-bottom: 16px;
    }

    & > div {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-between;

      & > span {
        font-family: $secondaryTextFamily;
        font-size: 16px;
        line-height: 24px;
        color: $black_272;
      }

      & > div {
        & a {
          &:hover {
            box-shadow: 0px 8px 16px rgba(44, 46, 47, 0.3);
          }

          display: flex;
          margin-bottom: 16px;
          height: 44px;
          width: 100%;
          color: $black_272;
          background: $white;
          box-shadow: 0px 8px 16px rgba(122, 120, 116, 0.1);
          border-radius: 8px;
          font-size: 20px;
          line-height: 24px;
          font-family: $mainTextFamily;
          cursor: pointer;
          padding-left: 33px;

          @media screen and (min-width: $breakpoint_2xs) {
            padding-left: 63px;
          }

          @media screen and (min-width: $breakpoint_m) {
            padding-left: 263px;
          }

          @media screen and (min-width: $breakpoint_l) {
            padding-left: 63px;
          }

          & > span {
            display: flex;
            align-items: center;

            & > i {
              display: flex;
              justify-content: flex-start;
              width: 24px;
              height: 24px;
              margin-right: 15px;

              & svg {
                width: 100%;
                height: 100%;

                &.facebook-icon {
                  path {
                    fill: #3B5998;
                  }
                }

                &.pinterest-icon {
                  path {
                    fill: #D32D2F;
                  }
                }

                &.twitter-icon {
                  path {
                    fill: #76A9EA;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
