@import "../../assets/styles/common/variables";

.sideBarMenu {
  button {
    &:hover {
      outline: none;
    }

    &:focus {
      outline: none;
    }

    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    svg {
      stroke: $white;
      box-sizing: border-box;

      path {
        stroke-width: 3px;
      }
    }
  }
}

.burger-menu {
  background-color: $black_232;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background-size: cover;
  z-index: 4;
  color: white;

  &__header {
    height: 80px;
    width: 100vw;
    padding: 30px 16px 33px 16px;
    justify-content: left;
    display: flex;
    justify-content: left;

    svg {
      width: 17px;
      height: 17px;
    }
  }

  .burger-menu-content {
    overflow: scroll;
    background-color: $black_272;
    padding: 35px 16px 32px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: calc(100vh - 80px);
    height: calc(100% - 80px);
    box-sizing: border-box;

    > .auth-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0px -5px 35px;
      min-height: 102px;

      > button {
        max-width: calc(50% - 10px);
        width: 100%;
        flex-grow: 1;
        font-size: 14px;
        margin: 5px;
      }

      > .userIcon {
        margin-left: 5px;
        pointer-events: none;

        img {
          height: 100%;
        }
      }
    }

    > ul {
      display: block;
      list-style: none;
      padding: 0px;
      min-height: 177px;

      > li {
        margin-bottom: 32px;
        font-size: 20px;

        > a {
          padding: 0px;
        }
      }
    }

    .contact-items {
      min-height: 70px;
    }

    .container {
      display: flex;
      flex-direction: column-reverse;
      margin: 100px 0px 0px;
      flex: 1;
      justify-content: unset;

      > p {
        font-size: 14px;
        line-height: 21px;
      }

      > div {
        margin-bottom: 22px;
      }
    }
  }

  &__lines {
    padding: 0px;
    & span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #cdcdcd;
      border-radius: 3px;
    }
  }

  & div {
    display: block;
  }
}

.burger-closed {
  cursor: pointer;
  margin-top: 15px;

  &:focus {
    outline: none;
  }

  & .burger-menu-content {
    display: none;
  }

  & div {
    display: block;
  }
}

.burge-menu__lines {
  & span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
  }
}
