@import "../../../../assets/styles/common/variables";

.specialties-root {
  & .profession-header {
    display: flex;
    align-items: center;
    margin-bottom: 23px;

    & > span {
      display: inline-block;
      line-height: 24px;
      font-family: $mainTextFamily;
      font-size: 16px;
      color: $black_272;
    }

    & > hr {
      flex-grow: 1;
      margin-left: 8px;
    }
  }
}
