.navsidebar-wrapper {
  display: flex;

  &__margin {
    margin-top: 80px;
  }

  & > *:first-child {
    flex-shrink: 0;
  }

  & > *:last-child {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 80px);

    @media screen and (min-width: breakpoint_l) {
      height: 100%;
    }
  }
}
