.image-container-lazy {
	overflow: hidden;
	position: relative;
	border-radius: 8px;
}

.image-container-lazy img {
    transition: 1s;
}

.image-lazy {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 8px;
}
.image-lazy.thumb {
	opacity: 1;
	filter: blur(10px);
	transition: opacity 1s ease-in-out;
	position: absolute;
}

.image-lazy.isLoaded {
	opacity: 0;
}

.image-lazy.isLoaded {
	transition: opacity 1s ease-in-out;
	opacity: 1;
}
	