@import "../../assets/styles/common/variables";

.SessionProgression-root{
    display: flex;
    flex-direction: column;
    position: relative;
    color: $black_272;
    margin-top: 100px !important;
    height: calc(100vh - 169px);

    @media screen and (min-width: $breakpoint_l) {
        margin-top: 100px;
        height: unset;
    }
    
    & > h2 {
        font-size: 32px;
        line-height: 38px;
        text-transform: uppercase;
        font-family: $mainTextFamily;
        margin-bottom: 24px;
        // @media screen and (min-width: $breakpoint_l) {
        //     font-size: 48px;
        //     line-height: 57px;
        // }
    }

    table {
        // border: 2px solid rgb(0, 0, 0);
        width: 800px;
        height: 100px;
        border-radius: 10px;
        background:linear-gradient(rgb(236, 153, 84),transparent);
    }
        
    th {
        border-bottom: 1px solid yellow;
        border-radius: 20%;
        // background: linear-gradient(rgb(236, 153, 84),transparent);
    }
        
    td {
        text-align: center;
        // border: 1px solid black;
        border-radius: 20%;
        background:linear-gradient(rgb(236, 153, 84),#ffa41b);
    }
    
}