@import "../../assets/styles/common/variables";

.dashboard-container {
  display: flex;
  justify-content: center;
  background-color: $grey_FBF;
  padding: 15px 0px 0px 16px;
  
  @media screen and (min-width: $breakpoint_m) {
    padding: 15px 16px;
  }

  @media screen and (min-width: $breakpoint_l) {
    padding: 15px 0px;
  }

  &__arrow {
    display: block;
    border-left: 3px solid #ff9900;
    border-bottom: 3px solid #ff9900;
    transform: rotate(-135deg);
    width: 10px;
    height: 10px;
    opacity: 0.3;
  }

  &__icon {
    background-image: url("../../assets/icons/arrowIcon.svg");
    width: 27px;
    height: 21px;
    background-repeat: no-repeat;
  }

  &__bookings-data-wrapper {
    width: 100%;
    display: flex;
    background-color: $white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    margin-right: 35px;
    margin-bottom: 24px;
    overflow-x: scroll;
  }

  &__booking-item {
    padding: 15px;
    border-right: 1px solid $grey_E0E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    &:nth-child(3n) {
      flex: 2;
    }
  }

  &__booking-item:last-of-type {
    border-right: none;
    flex-shrink: 0;
  }

  &__booking-title {
    font-family: $mainTextFamily;
    margin-bottom: 12px;
    white-space: nowrap;
  }

  &__booking-amount {
    display: flex;
    justify-content: space-between;
    font-family: $secondaryTextFamily;
    max-width: 80px;
    font-size: 16px;
  }

  &__finance-wrapper {
    display: flex;
    align-items: center;
    border-right: none;
    margin-bottom: 32px;
    max-width: 400px;

    button {
      min-height: 44px;
      margin-right: 16px;
    }
  }

  &__booking-wrapper {
    justify-content: space-between;

    & .dashboard-container__finance-item {
      padding: 20px 19px;
    }
  }

  .slick-prev {
    width: 79px;
    left: -83px;

    &:before {
      display: none;
    }
  }

  .slick-list {
    padding: 15px 20% 15px 0 !important;
  }

  &__aside {
    width: 30%;
  }

  &__main {
    width: 100%;

    @media screen and (min-width: $breakpoint_l) {
      width: calc(100% - 200px);
    }

    &__link {
      display: flex;
      justify-content: space-between;
      background: linear-gradient(93.5deg, #7383E6 0%, #262A45 100%);
      width: 100%;
      height: 48px;
      color: $white;
      padding: 0px 20px;
      display: flex;
      align-items: center;
      font-family: $mainTextFamily;
    }

    &__title-wrapper {
      display: flex;
      margin-top: 15px;
    }

    &__title {
      font-family: $mainTextFamily;
      margin-right: 16px;
      margin-bottom: 15px;
    }

    &__item-score {
      a {
        color: $orange_ED9;
        font-family: $mainTextFamily;
        font-size: 24px;
        display: flex;
        height: 28px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
