@import "../../../assets/styles/common/variables";

.header-root {
  position: relative;
  background: linear-gradient(93.5deg, #7383E6 0%, #262A45 100%);
  box-sizing: border-box;
  overflow: hidden;
  padding: 37px 16px 40px 16px;
  min-height: 254px;
  height: 100%;

  @media screen and (min-width: $breakpoint_l) {
    padding: 46px 90px 20px;
    min-height: 220px;
    margin-bottom: unset;
  }

  & .title-background {
    display: none;
    display: none;

    @media screen and (min-width: $breakpoint_l) {
      display: block;
      text-overflow: ellipsis;
      position: absolute;
      top: 32px;
      color: $white;
      opacity: 0.1;
      text-transform: uppercase;
      font-size: calc(max(min(5.86vw, 72px), 30px));
      line-height: calc(min(7.9vw, 85px));
      font-family: $mainTextFamily;
    }
  }

  & .title {
    color: $white;
    text-transform: uppercase;
    font-family: $mainTextFamily;
    margin-bottom: 33px;
    font-size: 32px;
    line-height: 38px;

    @media screen and (min-width: $breakpoint_l) {
      font-size: 48px;
      line-height: 57px;
    }
  }

  & .subtitle {
    color: $white;
    font-family: $mainTextFamily;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  @media only screen and (max-width: 1400px) {
    .title {
      margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 800px) {
    .title {
      margin-bottom: 15px;
    }

    .subtitle {
      font-size: 13px;
      line-height: 17px;
    }
  }

  & .step {
    color: $grey_E0D;
    font-family: $mainTextFamily;
    line-height: 24px;
    margin: 0px;
  }

  & .progress-line {
    background: linear-gradient(93.5deg, #9DE6B7 0%, #62A980 100%);
    height: 4px;
    border-radius: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}
