@import "../../../assets/styles/common/variables";

.not-found {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $grey_FBF;

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $white;
  }

  h2 {
    font-family: $mainTextFamily;
    font-size: 24px;
    margin-top: 24px;
  }

  .subtitle {
    font-family: $secondaryTextFamily;
    font-size: 16px;
  }
}
