@import "../../assets/styles/common/variables";

.textarea-root {
  & > textarea {
    border: 1px solid $grey_E0D;
    border-radius: 8px;
    height: 130px;
    resize: none;
    box-sizing: border-box;
    outline: none;
    font-family: $secondaryTextFamily;

    &:focus {
      border: 2px solid $orange_ED9;
      outline: none;
    }

    &::placeholder {
      font-family: $secondaryTextFamily;
      line-height: 16px;
      font-size: 16px;
      color: $black_484;

      @media screen and (min-width: $breakpoint_l) {
        line-height: 14px;
        font-size: 14px;
      }
    }
  }
}
