@import "../../assets/styles/common/variables";

.orange-cube-wrapper {
  display: flex;
  max-width: 840px;
  margin: 32px auto 0px;

  @media screen and (min-width: $breakpoint_l) {
    margin-top: 60px;
  }

  &__little-box-wrapper {
    display: none;

    @media screen and (min-width: $breakpoint_l) {
      display: block;
    }
  }

  & .cube {
    background: linear-gradient(93.5deg, #ec9954 0%, #e17f5e 100%);
  }

  &__little-box {
    background: linear-gradient(93.5deg, #ec9954 0%, #e17f5e 100%);
    width: 20px;
    height: 20px;
    opacity: 0.6;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 100%;
  }

  &__middle-box {
    background: linear-gradient(93.5deg, #ec9954 0%, #e17f5e 100%);
    width: 60px;
    height: 60px;
    opacity: 0.6;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 23%;
  }
}

.cube-wrapper {
  display: flex;
  max-width: 840px;
  margin: auto;
}

.cube {
  &:not(:disabled):hover:after {
    border: 4px solid #7383e6;
    cursor: pointer;
  }

  &__little-box-wrapper {
    display: none;

    @media screen and (min-width: $breakpoint_l) {
      display: block;
    }
  }

  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 2px;
    transition: border 0.2s;
    border: 3px solid transparent;
    border-radius: 5px;
  }

  background: linear-gradient(93.5deg, #9de6b7 0%, #62a980 100%);
  border-radius: 4px;
  width: 100%;
  height: 72px;
  padding: 12px 16px;
  font-size: 32px;
  color: white;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;

  @media screen and (min-width: $breakpoint_l) {
    width: 332px;
    height: 179.74px;
    padding: 15px 24px;
  }

  &__img {
    display: flex;
    flex-direction: column-reverse;
    max-width: 30px;
    max-height: 24px;
    width: 100%;
    height: 100%;
    align-self: center;
    stroke: white;

    @media screen and (min-width: $breakpoint_l) {
      max-width: 50px;
      max-height: 40px;
      align-self: flex-end;
    }
  }

  & span {
    max-width: 100px;
  }

  &__text {
    font-family: $secondaryTextFamily;
    font-size: 23px;
    line-height: 48px;
    display: flex;
    align-items: center;

    @media screen and (min-width: $breakpoint_2xs) {
      font-size: 26px;
    }

    @media screen and (min-width: $breakpoint_l) {
      max-width: 231px;
      font-size: 32px;
      display: block;
    }
  }

  &__little-box {
    background: linear-gradient(93.5deg, #9de6b7 0%, #62a980 100%);
    width: 20px;
    height: 20px;
    opacity: 0.6;
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 100%;
  }

  &__middle-box {
    background: linear-gradient(93.5deg, #9de6b7 0%, #62a980 100%);
    width: 60px;
    height: 60px;
    opacity: 0.6;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 23%;
  }
}
