@import "../../../assets/styles/common/variables";

.user-sidebar-root {
  width: 100%;
  background: $white;
  color: $black_272;
  min-height: calc(100vh - 80px);
  margin-top:70px;

  @media screen and (min-width: $breakpoint_l) {
    max-width: 390px;
    max-height: 840px;
  }

  & > div {
    height: 100%;
    display: flex;
    flex-direction: column;

    & > div:first-of-type {
      padding: 32px 16px 24px;

      @media screen and (min-width: $breakpoint_l) {
        padding: 32px 10px 24px 90px;
      }

      & > .avatar-root {
        width: 70px;
        height: 70px;
        margin-bottom: 24px;
      }

      & > h3 {
        font-family: $mainTextFamily;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 17px;
      }

      & > div {
        display: flex;
        align-items: center;

        span.icon {
          width: 12px;
          height: 19px;
          cursor: pointer;

          svg {
            width: 100%;
            height: 100%;

            path, circle {
              stroke: $blue_526;
            }
          }

          margin-right: 22px;
        }

        & > h5 {
          font-family: $mainTextFamily;
          font-size: 14px;
          line-height: 21px;
          margin: 0px;
        }
      }

      .goal {
        width: 220px;
        border-radius: 4px;
        box-sizing: border-box;
        min-height: 84px;
        flex-direction: column;
        background: linear-gradient(93.5deg, #9DE6B7 0%, #62A980 100%);
        padding: 12px;
        align-items: flex-start;
        color: $white;
        line-height: 24px;
        font-size: 16px;

        h4 {
          line-height: inherit;
          font-size: inherit;
          font-family: $mainTextFamily;
          margin-bottom: 8px;
        }

        span {
          line-height: inherit;
          font-size: inherit;
          font-family: $secondaryTextFamily;
        }
      }
    }

    & > div:last-of-type {
      padding: 0px 16px 43px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      flex-shrink: 1;

      @media screen and (min-width: $breakpoint_l) {
        padding: 41px 92px 48px;
      }

      & > ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0px 0px 20px;

        & > li {
          position: relative;
          margin-bottom: 36px;
          display: flex;
          align-items: center;
          color: $black_272;

          &.active {
            color: $orange_FFA;

            & path, rect, circle {
              stroke: $orange_FFA;
            }

            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 28px;
              background: linear-gradient(90deg, $orange_FFA 0%, rgba(255, 164, 27, 0) 100%);
              opacity: 0.1;
              right: -12px;
              transform: rotate(-180deg);

              @media screen and (min-width: $breakpoint_l) {
                left: -92px;
                transform: unset;
                max-width: 81px;
              }
            }

            &:after {
              content: '';
              position: absolute;
              width: 32px;
              height: 4px;
              background: $orange_ED9;
              border-radius: 2px;
              transform: rotate(-90deg);
              right: -30px;

              @media screen and (min-width: $breakpoint_l) {
                left: -106px;
              }
            }
          }

          & > span {
            display: flex;
            width: 20px;

            & path, rect, circle {
              stroke: $black_272;
            }
          }

          & a {
            font-family: $mainTextFamily;
            font-size: 16px;
            line-height: 19px;
            text-transform: capitalize;
            margin-left: 18px;
            color: inherit;
          }
        }
      }

      & > button {
        display: flex;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
        align-self: flex-start;
        font-family: $mainTextFamily;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;

        & > span:first-of-type {
          margin-right: 19px;
          display: flex;
          align-self: center;

          & path {
            stroke: $black_272;
          }
        }
      }
    }
  }
}
