@import "../../assets/styles/common/variables";

.buttonComponent {
  margin-top: 2px;
  padding: 10px 37px;
  height: 44px;
  border: unset;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(93.5deg, #ec9954 0%, #e17f5e 100%);
  position: relative;
  width: 100%;
  box-shadow: 0px 8px 16px rgba(235, 151, 85, 0.4);
  font-family: $mainTextFamily;

  &:focus {
    outline: none;
  }

  &:not(:disabled):hover:after {
    cursor: pointer;
  }

  &:not(:disabled):hover:after {
    border: 4px solid $white;
    cursor: pointer;
  }

  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 2px;
    transition: border .2s;
    border: 3px solid transparent;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    border-radius: 8px;
  }
}

.buttonComponent:disabled {
  background-image: unset;
  background-color: #D8D8D8;
}
