@import "../../assets/styles/common/variables";

.sliderItem {
  background-color: $red_DA1;
}

.slick-dots {
  .slick-active {
    button {
      background-color: $orange;
      box-shadow: 0px 8px 8px rgba(255, 164, 27, 0.5);
    }
  }

  & li {
    button {
      background-color: $orange_F9D;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      padding: 0px;

      @media screen and (min-width: $breakpoint_l) {
        width: 8px;
        height: 8px;
      }

      &::before {
        display: none;
      }
    }
  }
}

.slider-wrapper-main-block {
  max-width: 1260px;
  margin: auto;
  padding: 50px;

  & .table {
    max-width: 1260px;
    margin: auto;
  }

  & .slick-dots {
    text-align: left;

    & li {
      color: $orange_ff9;
      margin: 0 0;

      button:before {
        color: $orange_ff9;
        font-size: 10px;
      }
    }
  }

  & .how-it-works__main-slider {
    display: block;

    @media screen and (min-width: $breakpoint_l) {
      display: flex;
      justify-content: space-between;
    }
  }

  .slick-dots {
    text-align: center;

    @media screen and (min-width: $breakpoint_l) {
      text-align: left;
    }
  }

  &__title {
    text-align: center;
    padding: 32px 0px;
    font-family: $mainTextFamily;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 43px;
    margin-top: -7px;
    min-height: 180px;

    &::after {
      content: "";
      display: block;
      width: 100vw;
      opacity: 0.3;
      z-index: -1;
      position: absolute;
      top: 0px;
      background-repeat: no-repeat;
      min-height: 235px;
      background-size: 100%;
      background-image: url("../../assets/images/alexander-redl.png");

      @media screen and (min-width: $breakpoint_xs) {
        min-height: 380px;
      }

      @media screen and (min-width: $breakpoint_m) {
        min-height: 415px;
      }

    }
    @media screen and (min-width: $breakpoint_xs) {
      min-height: 350px;
    }

    @media screen and (min-width: $breakpoint_l) {
      padding: unset;
      text-align: left;
      font-size: 48px;
      line-height: 54px;
      min-height: unset;

      &::after {
        content: unset;
      }
    }
  }

  &__text {
    font-family: $secondaryTextFamily;
    padding: 25px 16px 0px;
    font-size: 16px;

    @media screen and (min-width: $breakpoint_l) {
      font-size: 21px;
      margin-top: 20px;
      text-align: left;
      padding: unset;
    }
  }

  &__text-wrapper {
    @media screen and (min-width: $breakpoint_l) {
      max-width: 630px;
    }
  }
}

.slider-wrapper-block {
  margin: auto;
  font-size: 11px;

  & .slick-dots li {
    margin: 0px 0px;

    & button:before {
      color: $orange;
      font-size: 10px;
    }
  }

  & .slick-list {
    background: $white;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.03);
  }

  & .slider-wrapper__text-block {
    margin: 0px 8px;
    text-align: center;
    font-family: $secondaryTextFamily;
    font-size: 16px;

    @media screen and (min-width: $breakpoint_l) {
      font-size: 24px;
    }
  }

  & .slider-wrapper-block-h1 {
    text-align: center;
    margin: auto;
    max-width: 700px;
    font-size: 24px;
    margin-bottom: 15px;
    font-family: $mainTextFamily;
  }
}

.slider-wrapper {
  max-width: 1300px;
  padding: 50px;
  margin-top: 50px;
  margin: auto;

  .slick-list {
    padding: 15px 0px;
    margin: -15px 0px;
  }

  .slick-slide {
    max-width: 300px;
  }

  &__text-block {
    color: black;
  }

  &__button {
    border: none;
    outline: none;
    background: none;
    padding: 0px;
    color: orange;
    font-weight: bold;
    cursor: pointer;
  }

  &__icon {
    width: 73px;
    margin-right: 20px;
  }

  &__item-block {
    margin-right: 10px;
    outline: none;

    & a {
      cursor: pointer;
    }
  }

  &__name {
    color: white;
    font-family: $mainTextFamily;
    font-size: 23px;
  }

  &__text {
    color: white;
    font-family: $secondaryTextFamily;
    margin-right: 13px;

    button {
      font-size: 16px;
      line-height: 25.5px;
    }
  }

  &__ranting {
    display: flex;
    color: white;
    margin-bottom: 10px;
  }

  &__ranting-score {
    display: flex;
    justify-content: space-between;
    width: 73px;
    margin-right: 20px;
    margin-bottom: 10x;
  }

  &__ranting-text {
    font-family: $secondaryTextFamily;
    display: flex;
  }

  &__icon-wrapper {
    display: flex;
    margin-bottom: 10px;
  }
}

.carousel_item {
  width: 300px;
}

.slick-next {
  display: none !important;

  @media screen and (min-width: $breakpoint_l) {
    display: block;
    right: -58px;
    width: 80px;
  }
}

.slick-next::before {
  display: none;
}
