$white-color: white;

.nav--fixed {
  visibility: hidden;
  display: none;
  top: 84px;
  top: 84px;
  left: 0;
  right: 0;
  margin: auto;
}

.navbar-active {
  display: none;
}

.howItWorks {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1260px;
    margin: auto;
    color: white;

    @media screen and (min-width: $breakpoint_l) {
      flex-direction: row;
      text-align: left;
    }

    & .home__text {
      text-align: center;

      @media screen and (min-width: $breakpoint_l) {
        text-align: left;
      }
    }
  }

  &__block {
    background: linear-gradient(93.5deg, #7383e6 0%, #262a45 100%);
    opacity: 0.9;
    width: 100%;
    padding: 0px 16px 50px;

    @media screen and (min-width: $breakpoint_l) {
      padding: 10px 57px;
    }
  }

  &__text {
    padding: 40px 0px 23px;

    @media screen and (min-width: $breakpoint_l) {
      padding: 75px 0px 126px 0px;
    }

    & h2 {
      font-size: 36px;
      margin-bottom: 23px;

      @media screen and (min-width: $breakpoint_l) {
        font-size: 48px;
      }
    }

    & p {
      font-size: 17px;

      @media screen and (min-width: $breakpoint_l) {
        max-width: 620px;
        font-size: 24px;
      }
    }
  }

  &__right-block {
    margin-top: 0px;

    @media screen and (min-width: $breakpoint_l) {
      margin-top: 200px;
    }
  }
}

.navbar-input::placeholder {
  color: #FFFFFF;
}

.slick-slider {
  &__next-arrow-wrapper {
    position: absolute;
    right: -15px;
    top: 50%;
  }

  &__next-arrow {
    position: relative;
    right: -37px;
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 49px;
    height: 49px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    display: block;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid #EFEFF4;
    box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.0305944);

    &::after {
      position: absolute;
      top: 15px;
      left: 11px;
      content: '';
      display: block;
      border-left: 2px solid rgb(255, 153, 0);
      border-bottom: 2px solid rgb(255, 153, 0);
      transform: rotate(-135deg);
      width: 15px;
      height: 15px;
    }
  }
}

.home {
  .filter-root {
    margin: unset;
    width: unset;
  }

  .scrollDown-wrapper {
    z-index: -1;
  }

  &__background-wrapper {
    position: relative;
  }

  .background-strip {
    display: none;

    @media screen and (min-width: $breakpoint_l) {
      display: block;
      position: absolute;
      height: 100%;
      box-sizing: border-box;
    }
  }

  .slick-slider {
    .prev-arrow {
      left: -47px;
    }

    &__next-arrow-wrapper {
      display: block;
      position: absolute;
      right: -15px;
      top: 50%;
    }

    &__next-arrow {
      position: relative;
      right: -37px;
      font-size: 0;
      line-height: 0;
      top: 50%;
      width: 49px;
      height: 49px;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: 0;
      display: block;
      background-color: $white;
      border-radius: 50%;
      border: 1px solid #EFEFF4;
      box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.0305944);

      &::after {
        position: absolute;
        top: 15px;
        left: 11px;
        content: '';
        display: block;
        border-left: 2px solid rgb(255, 153, 0);
        border-bottom: 2px solid rgb(255, 153, 0);
        transform: rotate(-135deg);
        width: 15px;
        height: 15px;
      }
    }

    &__prev-arrow-wrapper {
      @media screen and (min-width: $breakpoint_l) {
        left: -35px;
      }
    }

  }

  &__testimonials {
    display: none;
    padding: 40px 16px;
    background: linear-gradient(93.5deg, #7383e6 0%, #262a45 100%);

    @media screen and (min-width: $breakpoint_l) {
      padding: 50px;
    }

    & .home__text {
      color: white;
    }
  }

  & .filter__wrapper {
    max-width: 235px;
  }

  & .header-wrapper {
    &__black {
      background-color: black;
      position: absolute;
      width: 100%;
      font-family: "RubikRegular";
    }
  }

  & .navbar-input {
    border-radius: 8px;
  }

  & .reset-filters {
    display: none;
  }

  &__our-pros {
    padding-bottom: 47px;

    &__text-wrapper {
      margin-bottom: 60px;
    }

    .row {
      justify-content: space-between;

      > .pro-list__card {
        @media screen and (min-width: $breakpoint_m) {
          max-width: calc(50% - 10px);
        }

        @media screen and (min-width: $breakpoint_xl) {
          flex-basis: 25%;
          max-width: 300px;
        }
      }
    }
  }

  & .slider-wrapper {
    max-width: calc(100% - 66px);
    padding: 17px 0px 0px;
    margin: unset;

    @media screen and (min-width: $breakpoint_l) {
      max-width: calc(100% - 200px);
      padding: 50px;
      margin: auto;
    }
  }

  &__button-wrapper {
    margin: auto;
    max-width: 312px;
    margin-top: 6px;

    @media screen and (min-width: $breakpoint_l) {
      max-width: 200px;
    }

    @media screen and (min-width: $breakpoint_xl) {
      margin-top: 27px;
    }

    button {
      padding: 10px 34px;
    }
  }

  &__benefits-block {
    & .container {
      & .row {
        @media screen and (min-width: $breakpoint_l) {
          height: 480px;
        }
      }
    }
  }

  & .filter__interests,
  .filter__rating {
    display: none;
  }

  & .filter__interests {
    height: 51px;
  }

  &__text_center {
    margin: auto;
  }

  &__pro-text {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__pro-text-second {
    font-family: $secondaryTextFamily;
  }

  .pro-list-wrapper {
    justify-content: space-around;
    max-width: 840px;
    margin: auto;

    @media screen and (min-width: $breakpoint_xl) {
      max-width: 1280px;
    }
  }

  font-family: "RubikRegular";

  & .pro-list {
    margin: auto;
    text-align: center;
    justify-content: center;
    font-family: "RubikBold";
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 48px;

    &__card {
      flex-basis: 100%;
      margin: 0px 16px 12px;

      @media screen and (min-width: $breakpoint_m) {
        flex-basis: calc(50% - 20px);
        margin: unset;
      }

      @media screen and (min-width: $breakpoint_xl) {
        flex-basis: 25%;
      }
    }
  }

  & .container {
    width: 100%;
    max-width: 1376px;

    & .row {
      width: 100%;
    }
  }

  &__backgroundText {
    display: none;

    @media screen and (min-width: $breakpoint_l) {
      display: block;
      font-size: 40px;
      opacity: 0.1;
      font-style: normal;
      font-weight: bold;
      font-size: 72px;
      margin-bottom: -79px;
      font-family: "RubikBold";
      text-transform: uppercase;
    }
  }

  &__text {
    text-align: center;
  }

  &__text-main {
    font-family: "RubikBold";
    z-index: 2;
    font-size: 36px;

    @media screen and (min-width: $breakpoint_l) {
      font-size: 48px;
    }
  }

  &__text-subtext {
    font-size: 18px;

    @media screen and (min-width: $breakpoint_2xs) {
      font-size: 22px;
    }

    @media screen and (min-width: $breakpoint_l) {
      font-size: 30px;
    }

    font-weight: normal;
    font-family: "QuestrialRegular";
  }

  &__howItWorks {
    background-image: url(../../images/howItWorksMain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &-benefitWrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &-benefit {
      width: 50%;

      @media screen and (min-width: $breakpoint_m) {
        width: 33.3%;
      }
    }

    &-icon {
      justify-content: center;
      display: flex;
      margin-bottom: 8px;

      @media screen and (min-width: $breakpoint_l) {
        margin-bottom: 25px;
      }

      img {
        max-height: 40px;

        @media screen and (min-width: $breakpoint_l) {
          max-height: 50px;
        }
      }
    }

    &-iconText {
      font-size: 14px;
      color: $white-color;
      max-width: 150px;
      text-align: center;
      margin: 0 auto 32px;
      font-family: $mainTextFamily;

      @media screen and (min-width: $breakpoint_l) {
        margin: 0 auto 75px;
      }
    }

    &__text {
      text-align: center;
      color: $white-color;
      font-family: $secondaryTextFamily;

      @media screen and (min-width: $breakpoint_l) {
        text-align: left;
      }
    }

    &__wrapper {
      display: flex;
    }
  }

  &__hero {
    background-image: url(../../images/heroNewBlue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    max-height: 432px;
    margin-bottom: 360px;
    height: 100%;

    @media screen and (min-width: $breakpoint_l) {
      max-height: 100vh;
      height: 100vh;
      margin-bottom: unset;
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
  }

  &__benefits-button {
    margin-top: 20px;
  }

  &__hero-search {
    margin: 0px 16px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 80px;
    max-width: 840px;

    @media screen and (min-width: $breakpoint_l) {
      box-shadow: none;
    }

    @media screen and (min-width: $breakpoint_m) {
      max-width: 940px;
      margin: 0px auto;
    }

    @media (max-width: 700px) {
      margin-bottom: 197px;
      width: unset;
    }
  }

  &__hero-inner {
    min-height: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: auto;
  }

  &__hero-content {
    color: $white;
    font-weight: bold;
    margin-top: 128px;

    @media screen and (min-width: $breakpoint_l) {
      margin-top: unset;
    }
  }

  &__works-content {
    padding: ($gutter * 5) ($gutter * 4) ($gutter * 5);

    h2 {
      @extend %text--uppercase, %text--lg;

      font-weight: bold;
    }
  }

  &__pro {
    background-image: url(../../images/starProbg.png);
    background-size: contain;
    background-position: top right;
    color: black;
    background-repeat: no-repeat;
    padding: 18px 80px 89px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &__benefits-wrapper {
      display: flex;
      flex-direction: column;
    }

    &__benefits-item {
      margin-bottom: 16px;

      & img {
        margin-right: 20px;
        max-width: 32px;
        max-height: 32px;
      }

      & div {
        line-height: 31px;
        font-family: $mainTextFamily;
        font-size: 14px;
      }

      display: flex;
    }

    &__benefits-button {
      color: black;
    }
  }

  &__about {
    button {
      padding: 10px 17px;
    }

    &__text-block {
      padding-top: 54px;

      @media screen and (min-width: $breakpoint_l) {
        padding-top: 60px;
      }
    }

    .background-strip {
      background: linear-gradient(-60deg, transparent 23%, $grey_FBF 0%, $grey_FBF 77%, transparent 15%);
    }

    &__button {
      width: 312px;
      margin: auto;
      margin-top: 1px;
      margin-bottom: 48px;

      @media screen and (min-width: $breakpoint_l) {
        margin-top: 50px;
        margin-bottom: 120px;
        width: 160px;
      }

      & .buttonComponent {
        padding: 10px 21px;
      }
    }

    &-text-wrapper {
      padding-bottom: 20px;
    }

    &__main-text {
      font-family: $secondaryTextFamily;
      margin: 0px 16px;
      font-size: 17px;

      @media screen and (min-width: $breakpoint_l) {
        font-size: 24px;
      }
    }

    &__text-block {
      margin: auto;
    }
  }

  &__search {
    display: flex;
  }

  &__find-a-pro {
    &-item {
      margin-right: 10px;
    }

    background-color: #ffffff;
    border-radius: 4px;
    padding: 49px 32px;
  }
}
