.linkbtn {
  display: inline-block;
  font-family: "RubikBold";
  color: #ffa41b;
  line-height: 21px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  margin: 0px;
  height: inherit;

  > * {
    color: inherit;
  }

  &:hover {
    text-decoration: underline solid #ffa41b;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
  }
}
