@import "../../assets/styles/common/variables";

.drawer {
  & > div {
    width: 100%;
  }

  & div.drawer-content {
    height: 100%;
    overflow: auto;
    &.right {
      margin-top: 80px;
      @media screen and (min-width: $breakpoint_l) {
        margin-top: unset;
      }
    }
    &.bottom {
      max-height: calc(100vh - 140px);
    }
    @media screen and (min-width: $breakpoint_l) {
      margin-top: unset;
    }
  }

  & h1 {
    font-family: $mainTextFamily;
    font-size: 48px;
    line-height: 57px;
    text-transform: uppercase;
    color: $black_272;
    text-align: center;
  }

  & .close-icon {
    display: none;

    @media screen and (min-width: $breakpoint_l) {
      display: block;
      position: absolute;
      top: 32px;
      left: -92px;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.3);
      width: 60px;
      height: 60px;

      &.invisible {
        opacity: 0;
        transition: opacity 0.5ms ease-in-out;
      }
    }

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }

    & svg {
      width: 24px;
      height: 24px;

      & path {
        stroke: $white;
      }
    }
  }
}
