.pureButton:not(:disabled) {
  border: 2px solid #ed9954;
}

.pureButton {
  &:disabled {
    border: 2px solid #d8d8d8;
  }
  padding: 10px 76px;
  height: 44px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  position: relative;
}

.pureButton:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: border 0.2s;
  border: 3px solid transparent;
  border-radius: 5px;
}

.pureButton:not(:disabled):hover:after {
  border: 3px solid #ed9954;
  margin: -1px;
  cursor: pointer;
}
