@import "../../../../assets/styles/common/variables";

.auth-form-root {

  h1 {
    margin-bottom: 46px;
  }

  .or-divider {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    & > span {
      display: inline-block;
      margin: 0px 10px;
      text-transform: uppercase;
      font-family: $mainTextFamily;
      font-size: 14px;
      line-height: 21px;
      color: $black_272;
    }

    & > hr {
      flex: 1 1 100%;
    }
  }
}
