// Colors
$black: black;
$white: #fff;
$yellow: #e5c30a;
$yellow-darker: #d2b100;
$red: #f08080;
$green: #5aa66b;
$green-darker: #274c2f;
$gray-lighter: #fafafa;
$gray-light: #cecece;
$gray: #626262;
$gray-dark: #2f2f2f;
$theme-black: #2e343b;
$primary: #2b77d0;
$primary-darker: #1b4588;
$backgroundColorMenu: white;
$orange: #ffa41b;
$orange_F9D: #F9DDC3;
$orange_ff9: #ff9900;
$orange_FFA: #FFA41B;
$black_272: #27262B;
$black_232: #232226;
$black_484: #484B67;
$grey_E0D: #E0DFE6;
$orange_ED9: #ED9954;
$grey_D8D: #D8D8D8;
$grey_FBF: #FBFBFB;
$grey_828: #828282;
$grey_959: #959595;
$black_2B2: #2B2E47;
$blue_526: #5266E6;
$grey_BDB: #BDBDBD;
$grey_E0E: #E0E0E0;
$grey_565: #565659;
$red_DA1: #da1a25;
$red_ED5: #ED5454;
$black_2C2: #2C2E2F;
$green_8CE: #8CE3AA;

// Font Family
$font-primary: "Lato", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
$mainTextFamilyRegular: "RubikRegular";
$mainTextFamily: "RubikBold";
$secondaryTextFamily: "QuestrialRegular";
$font-heading: $font-secondary;
$font-size: 16px;
$font-size14: 14px;

// Spacing
$gutter: 15px;
$topSpace: 12px;
$topSpace__second: 8px;
$inputWidthWrapper: 283px;
$pro-card-spacing-margin-second: 20px;

// Breakpoints old code

$lg-max: 992px;
$lg-min: $lg-max - 1;

$md-max: 768px;
$md-min: $md-max - 1;

$sm-max: 480px;
$sm-min: $sm-max - 1;

$breakpoint_3xs: 320px;
$breakpoint_2xs: 375px;
$breakpoint_xs: 480px;
$breakpoint_s: 512px;
$breakpoint_m: 768px;
$breakpoint_ml: 991px;
$breakpoint_l: 1024px;
$breakpoint_xl: 1280px;
$breakpoint_xxl: 1440px;
