@font-face {
  font-family: "RubikRegular"; 
  src: url("../../fonts/rubik/Rubik-Regular.ttf"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "RubikBold"; 
  src: url("../../fonts/rubik/Rubik-Bold.ttf"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "QuestrialRegular"; 
  src: url("../../fonts/questrial/Questrial-Regular.ttf"); 
  font-style: normal; 
  font-weight: normal; 
} 
