@import "../../../../assets/styles/common/variables";

.root_trainingTypeRate {
  & .profession-header {
    display: flex;
    align-items: center;
    margin-bottom: 23px;

    & > span {
      display: inline-block;
      line-height: 24px;
      font-family: $mainTextFamily;
      font-size: 16px;
      color: $black_272;
    }

    hr {
      flex-grow: 1;
      margin-left: 8px;
    }
  }

  .professions {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint_l) {
      flex-direction: row;
    }

    .title {
      display: inline-block;
      font-family: $mainTextFamily;
      font-size: 24px;
      line-height: 28px;
      color: $black_272;
      margin-bottom: 22px;
    }

    .options {
      display: flex;
      flex-direction: column;

      & > div {
        display: flex;
        align-items: center;
        margin-bottom: 26px;
        min-width: 320px;

        label {
          font-family: $secondaryTextFamily;
          font-size: 24px;
          line-height: 24px;
          color: $black_272;
          margin-left: 6px;
          cursor: pointer;
        }
      }
    }

    .rates {
      & > span {
        display: inline-block;
        font-family: $mainTextFamily;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
        color: $black_272;
        margin-bottom: 8px;
      }

      & > div {
        box-sizing: border-box;
        padding: 6px 20px 22px;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        margin-bottom: 16px;

        @media screen and (min-width: $breakpoint_m) {
          max-width: 220px;
          min-width: 220px;
        }

        & > span.rate {
          font-family: $secondaryTextFamily;
          font-size: 14px;
          line-height: 14px;
          margin-bottom: 2px;
        }
      }

      &:last-of-type {
        > div {
          margin-bottom: 39px;

          @media screen and (min-width: $breakpoint_m) {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
