@import "../../assets/styles/common/variables";

.onboarding-root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  & > div:last-of-type {
    padding: 32px 16px 48px;
    display: flex;
    flex-direction: column;
    flex: 1;

    @media screen and (min-width: $breakpoint_l) {
      padding: 35px 90px 48px;
      height: 100%;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 414px);
    @media screen and (min-width: $breakpoint_l) {
      min-height: calc(100vh - 383px);
    }
  }

  div.verification-email {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint_l) {
      max-width: 440px;
    }

    > div.resend {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media screen and (min-width: $breakpoint_l) {
        align-items: center;
        max-width: 440px;
        flex-direction: row;
      }

      > span {
        margin-right: 9px;
        font-family: $secondaryTextFamily;
        font-size: 16px;
        line-height: 25px;
      }
    }

    > div.msg {
      border-radius: 4px;
      background: linear-gradient(93.5deg, #9DE6B7 0%, #62A980 100%);
      padding: 12px 16px;
      display: flex;
      margin-bottom: 5px;

      @media screen and (min-width: $breakpoint_l) {
        align-items: center;
      }

      svg {
        margin-top: 5px;
        max-width: 20px;
        max-height: 14px;
        width: 100%;
        height: 100%;

        @media screen and (min-width: $breakpoint_l) {
          margin-top: unset;
        }

        path, rect {
          stroke: $white;
        }
      }

      > span {
        margin-left: 12px;
        font-family: $mainTextFamily;
        color: $white;
        font-size: 16px;
        display: inline-block;
        line-height: 24px;
      }
    }

    margin-top: 7px;
    margin-bottom: 27px;
  }
}
