@import "../../../assets/styles/common/variables";

.contact-item {
  display: flex;
  align-items: center;

  & svg {
    margin-right: 10px;
  }

  a {
    color: #E0DFE6;
    position: relative;
    font-family: $mainTextFamily;
  }
}
