$button-border-radius: 10px;

a.button,
%button,
.button {
  display: flex;
  border-radius: $button-border-radius;
  text-decoration: none;
  padding: 14px 25px 10px;
  justify-content: center;
  transition: 300ms;
  font-size: $font-size;
  border: none;
  font-family: $font-secondary;
  cursor: pointer;

  &:hover {
    // transition: 300ms;
 
  }

  &.link {
    @extend %link;
  }

  &--primary {
    border: $black solid 1px;
    color: $white;
    background-color: $theme-black;

    &:hover {
      background-color: $green;
    }
  }

  &--secondary {
    border: $theme-black solid 1px;
    background-color: $primary-darker;
    color: $white;
    text-align: center;

    &:hover {
      background-color: $primary;
    }
  }

  &--inverted {
    border: $theme-black solid 1px;
    background-color: $gray-lighter;
    color: $primary-darker;
    text-align: center;
    font-size: 16px;
    width: 100%;

    &:hover {
      background-color: $gray-light;
    }
  }

  &--accent {
    background-color: $green;
    color: $white;

    // width: 100%;
    font-size: $font-size;
    font-family: $font-secondary;
    text-transform: uppercase;
    padding: 20px 10px 15px;

    &:hover {
      background-color: $green-darker;
    }
  }

  &--inactive {
    cursor: no-drop;
    pointer-events: none;
    opacity: 0.5;
  }

  &--full {
    width: 100%;
  }

  &--md {
    max-width: 320px;
  }

  &--center {
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  &--reset {
    background-color: inherit;
    border-color: inherit;
    border-width: inherit;
    font: inherit;
  }
}

.buttons {
  padding: $gutter;

  &--inline {
    display: flex;
    justify-content: center;

    .button {
      margin: 0 $gutter;

      &:first-child {
        margin: 0 $gutter 0 0;
      }

      &:last-child {
        margin: 0 0 0 $gutter;
      }
    }
  }
}

.paypal-buttons {
  margin-top: $gutter * 2;
}
