$select-padding: 15px;

%select-style {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: $select-padding;
  font-size: inherit;
  color: $theme-black;
}

select {
  @extend %select-style;

  background-image: url(../../icons/vector-down.svg);
  background-position: center right $select-padding;
  background-repeat: no-repeat;
}

.input {
  &--field {
    @extend %select-style;
  }

  &--filled {
    border: $green solid 1px;
  }

  &--error {
    border: $red solid 1px;

    ~ .error-span {
      top: 100%;
      opacity: 1;
    }
  }

  &--inactive {
    opacity: 0.5;
  }
}

input:not([type="submit"], [type="radio"], [type="checkbox"], [type="search"]) {
  @extend %select-style;
}

textarea {
  @extend %select-style;
}

.react-datepicker-wrapper {
  width: 100%;

  input {
    @extend %select-style;

    background-image: url(../../images/chevron-down.png);
    background-position: center right $select-padding;
    background-repeat: no-repeat;
  }
}

.react-datepicker {
  &__input-container {
    display: flex !important;
  }
}

.form {
  position: relative;

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 0;
    opacity: 0;

    &.active {
      z-index: 1;
      opacity: 1;
    }

    p {
      flex: 0 1 100%;
      font-weight: bold;
      text-transform: uppercase;
      transform: translateY(-50px);
    }
  }
}

.form,
.form__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 1 1 100%;
}

.field {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 100%;
  margin-bottom: $gutter;
  position: relative;

  &--cols {
    padding: ($gutter * 4) 0;

    .checkbox {
      flex: 0 1 45%;
      justify-content: flex-start;
      margin-bottom: $gutter;
    }
  }

  &--justify-center {
    justify-content: center;
  }

  > label {
    width: 100%;
  }

  > input {
    position: relative;
    z-index: 1;
  }

  textarea, input, select {
    border: 1px solid #cecece;
    border-radius: 10px;
  }

  .checkbox {
    margin-right: $gutter;

    &:last-child {
      margin-right: 0;
    }
  }

  .error-span {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
    font-size: 12px;
  }

  .button {
    justify-content: center;
    padding: $gutter;
    width: 100%;
  }

  .ui.labeled {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    .label {
      margin-bottom: $gutter / 2;
    }

    .label,
    input {
      flex: 0 1 100%;
    }
  }

  &--half {
    flex: 0 1 49%;
  }

  &--inline {
    display: flex;

    .checkbox {
      flex: 0 1 calc(49% - 15px);
    }
  }

  &--review {
    padding-top: $gutter;

    p {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &--review-total {
    border-top: $gray-light solid 1px;
    padding-top: $gutter;
  }
}

.tip {
  width: 100%;
  margin-bottom: $gutter * 3;

  &__inner {}

  form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .rating__message {
    width: 69%;
  }

  .rating__button {
    width: 30%;
  }

  .button {
    width: 100%;
  }
}

.agile-field {
  display: flex;
  width: 100%;
}
