@import "../../../assets/styles/common/variables";

.auth-form-root {
  &.reset-password {
    & div {
      width: 100%;
      @media screen and (min-width: $breakpoint_l) {
        max-width: 300px;
      }
    }
  }

  & .reset-password-btn-group {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & > button {
      height: 44px;
      box-sizing: border-box;
      width: calc(50% - 8px);
      @media screen and (min-width: $breakpoint_l) {
        width: 140px;
      }
    }
  }

  & .email-sent-msg {
    & > p {
      font-family: $mainTextFamilyRegular;
      text-align: center;
    }

    & > button {
      height: 44px;
      margin-top: 44px;
      box-sizing: border-box;
    }
  }
}
