@import "../../assets/styles/common/variables";

.background-strip {
  position: fixed;
  z-index: -1;
  background: linear-gradient(60deg, transparent 23%, $grey_FBF 0%, $grey_FBF 77%, transparent 15%);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}
