@import "../../../assets/styles/common/variables";

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 12px;

  @media screen and (min-width: $breakpoint_m) {
    font-size: 14px;
  }

  li {
    margin-right: 18px;

    @media screen and (min-width: $breakpoint_2xs) {
      margin-right: 32px;
    }
  }
}
