@import "../../assets/styles/common/variables";

.conversation {
  padding: 30px;
  max-width: 1200px;
  height: calc(100vh - 80px);
  flex-direction: column;
  padding: 0px 11px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;

  @media screen and (min-width: $breakpoint_l) {
    padding: 0px 30px;
  }
}
