.userIcon {
  display: flex;
  align-self: center;
  cursor: pointer;
  width: 36px;
  height: 36px;

  img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-sizing: border-box;
    border: 4px solid rgba(255, 255, 255, 0.21);
  }
}
