@import "../../assets/styles/common/variables";

.react-datepicker-wrapper {
  width: 100%;
  height: 44px;
  margin: 0px;

  .error {
    border: 2px solid $red_ED5;
  }

  > div {
    height: 100%;
    font-family: $secondaryTextFamily;
    font-size: 16px;
    line-height: 16px;

    @media screen and (min-width: $breakpoint_l) {
      font-size: 14px;
      line-height: 14px;
    }

    > input {
      background-image: none;
      background-color: transparent;

      &:disabled {
        background-color: $grey_FBF;
        opacity: (0.6,);
      }

      &, &::placeholder {
        color: $black_484;
        font-size: 14;
        font-family: $secondaryTextFamily;
      }

      &.react-datepicker-ignore-onclickoutside {
        border: 2px solid $orange_ED9;
        outline: none;
      }

      border: 1px solid $grey_E0D;
      border-radius: 8px;
    }
  }
}

.calendar-popup {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.03);
  width: calc(100vw - 32px);
  border: none;
  max-width: 387px;

  @media screen and (min-width: $breakpoint_l) {
    width: 387px;
  }

  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker__month-container {
    width: 100%;
    height: 100%;
    padding: 27px 32px 20px 28px;
    box-sizing: border-box;

    .react-datepicker__header {
      background-color: transparent;
      border-bottom: none;
      padding: 0px;

      .calendar-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        font-family: $mainTextFamily;
        font-size: 16px;
        line-height: 24px;
        color: $black_2B2;

        > div.icons {
          max-width: 56px;
          width: 100%;
          display: flex;
          justify-content: space-between;

          > button {
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 22px;
            height: 22px;
            background: #ED9954;
            border-radius: 11.2941px;

            &:first-of-type {
              & > svg {
                transform: rotate(90deg);
              }
            }

            &:last-of-type {
              & > svg {
                transform: rotate(-90deg);
              }
            }

            > svg {
              path {
                stroke: $white;
                stroke-width: 2px;
                opacity: 0.8;
              }
            }
          }
        }
      }

      > .react-datepicker__day-names {
        display: flex;
        justify-content: space-between;

        > div {
          font-family: $mainTextFamily;
          font-size: 16px;
          line-height: 24px;
          color: $grey_828;
          margin: 0px;
          width: 39px;
          height: 39px;
        }
      }
    }

    > .react-datepicker__month {
      margin: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > div {
        display: flex;
        justify-content: space-between;

        > div, div {
          font-family: $mainTextFamily;
          font-size: 14px;
          line-height: 21px;
          color: $black_484;
          margin: 0px;
          width: 39px;
          height: 39px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          outline: none;

          &.react-datepicker__day--keyboard-selected {
            background: none;
          }

          &.react-datepicker__day--disabled {
            opacity: 0.3;
          }

          &.react-datepicker__day--selected {
            background: linear-gradient(93.5deg, #EC9954 0%, #E17F5E 100%);
            box-shadow: 0px 8px 16px rgba(235, 151, 85, 0.4);
            color: $white;
            opacity: (1,);
          }

          &.react-datepicker__day--outside-month {
            opacity: 0;
          }
        }
      }
    }
  }
}
