@import "../../../assets/styles/common/variables";

.finishBooking {
  background-color: $grey_FBF;
  padding: 112px 16px 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;

  @media screen and (min-width: $breakpoint_l) {
    padding: 54px 60px 24px;
  }

  h1 {
    margin-bottom: 110px;
  }

  div.data {
    .divider {
      margin: 18px 0px;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 18px;

      h5 {
        margin: 0px;
        font-size: 16px;
        font-family: $mainTextFamily;
        line-height: 19px;
        text-transform: capitalize;
        color: $black_272;
      }

      span {
        text-align: end;
        font-family: $secondaryTextFamily;
        font-size: 16px;
        line-height: 24px;
        color: $black_272;
      }
    }
  }

  div.payment {
    display: flex;
    margin: auto 0px;
  }

  div.poweredBy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;

    img {
      margin-top: 8px;
    }
  }
}
