.bookings {
  .toggler-root {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 200px;

    & > button {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
      padding: 0px;

      &.active {
        font-weight: bold;
      }
    }
  }
}
