@import "../../../assets/styles/common/variables";

.how-it-works {
  .slick-slider {
    &__next-arrow-wrapper {
      position: absolute;
      right: -45px;
      top: 50%;
    }

    &__prev-arrow-wrapper {
      position: absolute;
      left: -35px;
      top: 50%;
    }

    .prev-arrow {
      display: none;

      @media screen and (min-width: $breakpoint_l) {
        display: block;
        left: -37px;

        &:after {
          transform: rotate(43deg);
          left: 18px;
        }
      }
    }

    &__next-arrow-wrapper {
      display: block;
      position: absolute;
      right: -15px;
      top: 50%;
    }

    &__next-arrow {
      display: none;

      @media screen and (min-width: $breakpoint_l) {
        display: block;
        position: relative;
        right: -60px;
        font-size: 0;
        line-height: 0;
        top: 50%;
        width: 49px;
        height: 49px;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: 0;
        background-color: $white;
        border-radius: 50%;
        border: 1px solid #EFEFF4;
        box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.0305944);

        &::after {
          position: absolute;
          top: 15px;
          left: 11px;
          content: '';
          display: block;
          border-left: 2px solid rgb(255, 153, 0);
          border-bottom: 2px solid rgb(255, 153, 0);
          transform: rotate(-135deg);
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .background-strip {
    display: none;

    @media screen and (min-width: $breakpoint_l) {
      display: block;
      position: absolute;
      height: 100%;
      background: linear-gradient(-60deg, transparent 23%, $grey_FBF 0%, $grey_FBF 77%, transparent 15%);
    }
  }

  &__background-wrapper {
    position: relative;
  }

  .slider-wrapper-main-block {
    padding: 40px 0px 80px;
    background-color: $grey_FBF;

    @media screen and (min-width: $breakpoint_l) {
      padding: 91px 50px;
      background-color: unset;
    }
  }

  & .container {
    max-width: 1260px;
  }

  & .video {
    margin: -16px;
    width: 100vw;

    @media screen and (min-width: $breakpoint_l) {
      width: unset;
      margin: unset;
    }
  }

  &__background-wrapper-slider {
    position: relative;

    .background-strip {
      background: linear-gradient(60deg, transparent 23%, $grey_FBF 0%, $grey_FBF 77%, transparent 15%);
    }
  }

  &__block {
    max-width: 1260px;
    width: 100%;
  }

  &__video-wrapper {
    padding: 46px 16px 40px;

    @media screen and (min-width: $breakpoint_l) {
      max-width: 1260px;
      padding: 54px 90px 58px;
    }
  }

  &__carousel {
    & .slick-next {
      right: -73px;
    }
  }

  &__main-slider {
    &__img-wrapper {
      display: none;

      @media screen and (min-width: $breakpoint_l) {
        display: block;
        width: 50%;
        margin-right: 20px;

        .img {
          background-image: url("../../../assets/images/alexander-redl.png");
          max-width: 100vw;
          width: 100%;
          height: 100%;
          min-height: 360px;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          z-index: 1;
          border-radius: 4px;
        }
      }
    }
  }

  &__sign-up-block {
    button {
      padding: 10px 30px;
    }
  }

  & .slider-wrapper-block {
    margin-top: 40px;

    @media screen and (min-width: $breakpoint_l) {
      max-width: calc(100vw - 180px);
    }

    @media screen and (min-width: $breakpoint_xl) {
      max-width: 1100px;
    }

    & .slider-wrapper__item-block {
      padding: 20px 0px;
    }
  }

  &__frequent-block {
    background: #fbfbfb;
    padding: 40px 16px;

    @media screen and (min-width: $breakpoint_l) {
      padding: 54px 20px 22px;
    }
  }

  &__line-title {
    font-family: $mainTextFamily;
    font-size: 24px;
  }

  &__line-text {
    max-width: 460px;
    font-family: $secondaryTextFamily;
    font-size: 16px;
    margin-top: 15px;
  }

  .slick-dots {
    bottom: -33px;

    @media screen and (min-width: $breakpoint_l) {
      bottom: -31px;
    }

    li {
      width: 32px;
      height: 16px;

      @media screen and (min-width: $breakpoint_l) {
        max-width: 16px;
      }
    }
  }

  &__picture {
    background-image: url(../../../assets/images/bg.jpg);
    padding: 95px 15px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__h2 {
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: $breakpoint_l) {
      text-align: left;
      margin-bottom: 40px;
    }
  }

  &__videoText {
    font-family: $secondaryTextFamily;
    text-align: center;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 24px;

    @media screen and (min-width: $breakpoint_l) {
      padding-bottom: 40px;
      text-align: left;
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__table-wrapper {
    padding: 40px 0px 50px;

    @media screen and (min-width: $breakpoint_l) {
      padding: 74px 90px 90px;
    }

    background: linear-gradient(93.5deg, #7383e6 0%, #262a45 100%);

    & th {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__sign-up {
    &-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      max-width: 1260px;
      margin-top: 20px;
      margin-bottom: 40px;
      width: calc(100vw - 32px);

      @media screen and (min-width: $breakpoint_l) {
        flex-direction: row;
        width: calc(100vw - 180px);
        margin-bottom: 20px;
      }
    }

    &-text {
      color: black;
      font-family: $mainTextFamily;
      font-size: 24px;
      margin-bottom: 32.3px;

      @media screen and (min-width: $breakpoint_l) {
        margin-bottom: unset;
      }
    }

    &-button {
      width: 100%;

      @media screen and (min-width: $breakpoint_l) {
        max-width: 140px;
      }
    }

    &-block .buttonComponent {
      font-family: $mainTextFamily;
      font-size: 20px;
    }
  }

  &__line {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(93.5deg, #7383e6 0%, #262a45 100%);
    color: $white;
    padding: 30px 16px 48px;

    @media screen and (min-width: $breakpoint_l) {
      padding: 51px 90px;
    }
  }

  &__line-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
      margin-right: 20px;
    }

    > div {
      text-align: center;
    }

    @media screen and (min-width: $breakpoint_l) {
      flex-direction: row;
      align-items: unset;

      > div {
        text-align: left;
      }
    }
  }

  &__line-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__img-wrapper {
    max-width: 34px;
    min-height: 32px;
    width: 100%;
    margin-bottom: 8px;

    svg {
      stroke: $green_8CE;
    }

    @media screen and (min-width: $breakpoint_l) {
      margin-right: 30px;
      max-width: 44px;
    }
  }

  & .table {
    border-collapse: collapse;
    margin: auto;
    max-width: 1260px;
    width: 100%;
    font-family: $mainTextFamily;

    & td,
    th {
      border: 1px solid #7d86c5;
    }

    & tr:nth-child(even),
    tr {
      background-color: transparent;
      color: #e0dfe6;
    }
  }

  & th {
    font-size: 18px;
    text-align: left;
    padding: 15px 5px;

    @media screen and (min-width: $breakpoint_2xs) {
      padding: 15px 10px;
    
    }

    @media screen and (min-width: $breakpoint_l) {
      padding: 15px;
      font-size: 24px;
    }
  }

  & td {
    font-size: 12px;
    padding: 15px 6px;

    @media screen and (min-width: $breakpoint_2xs) {
      padding: 15px 14px;
    }

    @media screen and (min-width: $breakpoint_l) {
      font-size: 16px;
    }
  }

  &__table {
    &__text-wrapper {
      margin: auto;
      color: white;
      margin-bottom: 24px;

      @media screen and (min-width: $breakpoint_l) {
        margin-bottom: 85px;
      }
    }
  }
}

.how-it-works-pro {
  &__section {
    padding: 46px 16px 40px;

    @media screen and (min-width: $breakpoint_l) {
      padding: 54px 90px 20px;
    }
  }

  #carousel-in-pro .slider-wrapper .slick-slide {
    max-width: none;
}

  &__benefits-block-wrapper {
    display: block;

    @media screen and (min-width: $breakpoint_l) {
      margin-bottom: -30px;
      display: flex;
    }
  }

  & .home__text {
    z-index: 0;
  }

  & .slider-wrapper__item-block {
    padding: 16px;
  }

  &__questions-wrapper {
    background: #fbfbfb;
    padding: 40px 16px;

    @media screen and (min-width: $breakpoint_l) {
      padding: 54px 20px 22px;
    }
  }

  &__benefits-block {
    display: block;
    margin: 38px 16px 35px;

    @media screen and (min-width: $breakpoint_l) {
      display: flex;
    }
  }

  &__main-text {
    text-align: center;
    padding-top: 62px;

    @media screen and (min-width: $breakpoint_l) {
      margin-bottom: unset;
      text-align: left;
      padding-top: unset;
    }
  }

  &__frequent-button {
    margin: auto;
    font-family: $mainTextFamily;
    width: 100%;
    margin-top: 54px;

    @media screen and (min-width: $breakpoint_l) {
      width: 150px;
      margin-top: 37px;
    }

    button {
      padding: 10px 17px;
    }
  }

  &__description {
    font-family: $secondaryTextFamily;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;

    @media screen and (min-width: $breakpoint_l) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__text {
    max-width: 100%;

    @media screen and (min-width: $breakpoint_l) {
      max-width: 50%;
    }

    & h2 {
      font-family: $mainTextFamily;
      margin-bottom: 16px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $breakpoint_l) {
      flex-direction: row;

    
    }
   

    > .slider-wrapper {
      padding: 0px 0px 19px;
      max-width: calc(100vw - 24px);
      margin: 0px -16px 0px 0px;

      img {
        border-radius: 8px;
        width: 100%;
      }

      .slick-slide > div {
        margin: 0 8px;
      }

      .slick-list {
        margin: 0 -8px;
        padding: 0 20% 0 0 !important;
      }

      .slick-dots {
        bottom: -35px;
      }
    }
  }

  &__images {
    &:first-child {
      margin-right: 20px;
    }

    & img {
      margin-bottom: 20px;
      border-radius: 8px;
    }

    display: flex;
    flex-direction: column;
    width: 220px;
  }

  &__images-wrapper {
    display: flex;
  }

  &__image-first {
    margin-top: 20px;
  }

  &__h1-text {
    color: white;
    margin-bottom: 35px;
  }

  &__steps-wrapper {
    background: linear-gradient(93.5deg, #7383e6 0%, #262a45 100%);
    padding: 46px 0px 40px;

    @media screen and (min-width: $breakpoint_l) {
      padding: 66px 10px;
    }

    .slider-wrapper {
      padding: 0px;

      &__item {
        > div {
          display: flex;
          align-items: center;
          justify-content: center;

          .how-it-works-pro__steps-description-text {
            max-width: calc(100% - 74px);
            margin: 16px auto 0px;
          }

          .how-it-works-pro__step {
            margin: 0px 10px;
          }

          .how-it-works-pro__dots-line {
            width: 50%;
            margin: 0px;

            .scrollDown-wrapper {
              left: 89%;

              @media screen and (min-width: $breakpoint_xs) {
                left: 95%;
              }

              @media screen and (min-width: $breakpoint_m) {
                left: 96%;
              }
            }
          }
        }
      }
    }
  }

  &__steps {
    display: flex;
    margin: auto;
    max-width: 900px;
    text-align: center;
    align-items: center;
  }

  &__step {
    background-color: white;
    border-radius: 50%;
    max-width: 60px;
    max-height: 60px;
    min-height: 60px;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: $mainTextFamily;
    font-size: 24px;
  }

  &__dots-line {
    border-bottom: 1px dashed #9fa7d2;
    height: 6px;
    width: 40%;
    margin: 10px;
    position: relative;
  }

  &__steps-description {
    display: flex;
    justify-content: space-between;
    max-width: 1145px;
    margin: auto;
    color: white;
    margin-top: 30px;
    font-size: 24px;

    & > div {
      text-align: center;
    }
  }

  &__steps-description-item {
    font-family: $mainTextFamily;
  }

  &__steps-description-text {
    font-family: $secondaryTextFamily;
    font-size: 16px;
    margin-top: 20px;
    max-width: 300px;
    line-height: 28px;
  }

  &__slide-wrapper {
    margin-top: 50px;
  }

  &__benefits {
    background-size: contain;
    color: black;
    background-repeat: no-repeat;

    @media screen and (min-width: $breakpoint_l) {
      padding: 18px 80px 0px;
    }

    & .container {
      background-image: url(../../../assets/images/frequent-man.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top 0px left 17%;
      position: relative;
      z-index: 1;
      background-position: top 0px left -20px;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.7) 100%);
      }

      @media screen and (min-width: $breakpoint_xs) {
        background-position: top 0px left 150px;
      }

      @media screen and (min-width: $breakpoint_m) {
        background-size: contain;
        background-position: top 0px left 350px;
      }

      @media screen and (min-width: $breakpoint_l) {
        display: flex;
        background-position: top left 430px;
      }

      @media screen and (min-width: $breakpoint_xl) {
        background-position: top right;

        &::before {
          content: unset;
        }
      }

      & .row {
        display: block;

        @media screen and (min-width: $breakpoint_l) {
          display: flex;
          flex-flow: row wrap;
        }
      }
    }

    & .home__backgroundText {
      white-space: nowrap;
      margin-bottom: -79px;
    }
  }

  &__image {
    width: 100%;
    margin-top: 150px;
  }

  &__button {
    padding: 0px 16px 40px;

    @media screen and (min-width: $breakpoint_l) {
      padding: unset;
    }

    button {
      padding: 10px 51px;
    }

    & a {
      padding: 10px 55px;
      font-family: $mainTextFamily;
    }
  }
}

.home__pro__benefits-wrapper-second {
  @media screen and (min-width: $breakpoint_l) {
    margin-top: 47px;
    margin-left: 80px;
  }
}

.how-it-works-pro__image-first {
  margin-top: 80px;
}
