@import "../../assets//styles/common/variables";

.faq {
  & .home__text {
    text-align: center;

    @media screen and (min-width: $breakpoint_l) {
      text-align: left;
    }
  }

  & .faq__text {
    margin-bottom: 10px;
    @media screen and (min-width: $breakpoint_l) {
      margin-bottom: 50px;
    }
  }

  & .home__backgroundText {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}
