@import "../../assets//styles/common/variables";

.find-pro {
  background-color: $grey_FBF;
  padding-top: 100px;

  &__no-pros-message {
    font-family: $secondaryTextFamily;
    font-size: 16px;
    line-height: 19px;
    color: #27262B;
    display: inline-block;
    margin-bottom: 16px;
  }

  &__not-found {
    text-align: center;
    width: 100%;
    padding: 8px 0px 64px;

    @media screen and (min-width: $breakpoint_l) {
      padding: 50px 0;
    }
  }

  .progress {
    height: calc(100vh - 764px);
    display: flex;
    justify-content: center;
    padding-bottom: 27px;
    align-items: center;
    box-sizing: border-box;
  }

  & .filter {
    & .container {
      margin-top: -75px;
      padding: 22px 28px 9px 28px;
      background-color: $white;
      border-radius: 5px;
      max-width: 1260px;
    }
  }

  &__title {
    font-family: $mainTextFamily;
    font-size: 24px;
    margin-top: 24px;
  }

  &__subtitle {
    font-family: $secondaryTextFamily;
    font-size: 16px;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $white;
  }

  .row {
    gap: 20px;

    > .pro-list__card {
      flex: 1 1 100%;

      .pro-card {
        &__image {
          max-width: 100%;
        }
      }

      @media screen and (min-width: $breakpoint_m) {
        max-width: calc(50% - 10px);
      }

      @media screen and (min-width: $breakpoint_l) {
        max-width: calc(33.3% - 13px);
      }

      @media screen and (min-width: $breakpoint_xl) {
        flex-basis: 25%;
        max-width: calc(25% - 15px);
      }
    }
  }

  &__container {
    padding: 0px 16px;
    max-width: 1260px;
    position: relative;

    .filter-scroll-block {
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      background: $white;
      box-shadow: 0px 8px 16px rgba(72, 75, 103, 0.4);
      border-radius: 8px;
      position: fixed;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100vw - 90px);
      color: $black_272;
      font-size: 16px;
      line-height: 19px;
      text-transform: capitalize;
      font-family: $mainTextFamily;
      padding: 16px;
      text-align: center;
      z-index: 1;
      cursor: pointer;
    }
  }

  & .css-tlfecz-indicatorContainer {
    color: $grey_959;
  }

  & .css-6q0nyr-Svg {
    height: 17px;
    width: 17px;
  }

  & .filter .c-country-select > div {
    border-color: $grey_E0D;
  }
}
