@import "../../assets/styles/common/variables";

.calendar-root {
  padding: 32px 16px;
  background-color: $grey_FBF;
  display: flex;
  flex-direction: column;
  color: $black_272;

  @media screen and (min-width: $breakpoint_l) {
    padding: 35px 10px;
  }

  @media screen and (min-width: $breakpoint_xl) {
    padding: 35px 47px;
  }

  & * {
    box-sizing: border-box;
  }

  .react-datepicker-wrapper {
    width: calc(50% - 8px);

    @media screen and (min-width: $breakpoint_l) {
      width: 140px;
    }
  }

  /* because-of library bug (if height is bigger it overlaps input) */
  .calendar-popup-popper {
    bottom: 74px;
    transform: none !important;
    top: unset !important;
    margin-bottom: -36px !important;

    @media screen and (min-width: $breakpoint_l) {
      margin-bottom: -7px !important;
    }
  }

  & .time {
    text-transform: uppercase;
  }

  button.add {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-transform: capitalize;
    font-family: $mainTextFamily;
    color: $orange_FFA;
    font-size: 16px;
    line-height: 16px;
    bottom: 0px;
    left: 0px;
    position: absolute;
  }

  span.icon {
    width: 33px;
    display: flex;
    margin-right: 20px;

    svg {
      width: 100%;
      height: 100%;

      path, rect, circle {
        stroke: $black_272;
      }
    }
  }

  > div {
    margin-bottom: 18px;

    &:last-of-type {
      li.unsaved:last-of-type {
        > div {
          > div {
            margin-bottom: 44px;

            .calendar-popup-popper {
              margin-bottom: -7px !important;
            }
          }
        }
      }
    }

    > div {
      display: flex;
    }

    > div:first-child {
      @media screen and (min-width: $breakpoint_l) {
        margin-bottom: 24.14px;
      }

      > .btn-group {
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;
        height: 44px;

        > button {
          height: 100%;
          width: 140px;
        }

        @media screen and (min-width: $breakpoint_l) {
          width: 100%;
          max-width: 300px;
        }
      }

      &.edit-mode {
        flex-direction: column;

        @media screen and (min-width: $breakpoint_l) {
          flex-direction: row;
        }

        > .btn-group {
          margin-top: 22px;
          width: 100%;
          margin-right: 32px;

          @media screen and (min-width: $breakpoint_l) {
            margin-top: unset;
          }

          > button {
            height: 100%;
            width: calc(50% - 7.5px);

            @media screen and (min-width: $breakpoint_l) {
              width: 140px;
            }

            &.edit {
              justify-self: flex-end;
              margin-left: auto;
            }
          }
        }
      }

      &.saved-mode {
        > .btn-group {
          @media screen and (min-width: $breakpoint_l) {
            width: 100%;
            max-width: 300px;
          }

          > button {
            &.edit {
              justify-self: flex-end;
              margin-left: auto;
            }
          }
        }
      }

      > .title {
        display: flex;
        font-family: $mainTextFamily;
        color: $black_272;
        text-transform: capitalize;
        padding-right: 10px;
        flex-grow: 1;
        align-items: center;
        font-size: 18px;
        line-height: 24px;

        @media screen and (min-width: $breakpoint_2xs) {
          line-height: 36px;
        }

        @media screen and (min-width: $breakpoint_l) {
          flex: 1;
          font-size: 24px;
          min-width: 301px;
          max-width: 360px;
          width: calc(100vw - 390px - 70px - 300px);
        }

        @media screen and (min-width: $breakpoint_xl) {
          max-width: 373px;
        }
      }
    }

    > div:last-child {
      display: flex;

      > ul {
        list-style-type: none;
        padding: 0px;
        width: 100%;
        min-height: 24px;
        position: relative;

        @media screen and (min-width: $breakpoint_l) {
          margin: 0px 0px 0px 41px;
        }

        @media screen and (min-width: $breakpoint_xl) {
          margin: 0px 0px 0px 53px;
        }

        > li {
          display: flex;
          font-size: 16px;
          line-height: 24px;
          text-transform: capitalize;
          font-family: $secondaryTextFamily;

          span {
            font-size: 14px;

            @media screen and (min-width: $breakpoint_l) {
              font-size: 16px;
            }
          }

          &.saved {
            margin-bottom: 36px;

            .weekday {
              margin-right: 12px;
              font-family: $mainTextFamily;
              min-width: 91px;
              max-width: 91px;
              width: 100%;

              @media screen and (min-width: $breakpoint_2xs) {
                max-width: 103px;
              }

              @media screen and (min-width: $breakpoint_l) {
                max-width: 120px;
                margin-right: 24px;
              }
            }

            > div {
              display: flex;
              width: 100%;

              > div:last-of-type {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
              }
            }
          }

          &.unsaved {
            margin-bottom: 16px;

            &.available {
              flex-direction: column;

              .react-datepicker-wrapper {
                width: calc(50% - 23px);
              }

              @media screen and (min-width: $breakpoint_l) {
                flex-direction: row;

                .react-datepicker-wrapper {
                  width: 140px;
                }
              }
            }

            .divider-root {
              width: 10px;
              align-self: center;
            }

            .weekday {
              margin-right: 4px;
              font-family: $mainTextFamily;
              min-width: 91px;
            }

            > div:first-of-type {
              display: flex;
              position: relative;
              width: 100%;
              min-width: 260px;
              max-height: 73px;

              @media screen and (min-width: $breakpoint_l) {
                max-width: 320px;
              }

              > div {
                height: 44px;
                width: 100%;
                display: flex;
                align-items: center;

                > div.date:first-child {
                  max-width: 102px;
                  margin-right: 16px;
                  font-family: $mainTextFamily;
                }
              }
            }

            > div:last-of-type {
              width: 100%;
            }
          }

          > div:last-of-type {
            div.time-select {
              width: inherit;
              display: flex;
              align-items: center;
              flex-direction: column;
              position: relative;
              margin-top: 12px;

              @media screen and (min-width: $breakpoint_l) {
                margin-top: unset;
              }

              > div {
                display: flex;
                width: inherit;
                margin-bottom: 16px;

                &:last-of-type {
                  margin-bottom: 29px;
                }

                > div {
                  width: inherit;

                  @media screen and (min-width: $breakpoint_l) {
                    width: 300px;
                  }

                  > div {
                    display: flex;
                    justify-content: space-between;

                    @media screen and (min-width: $breakpoint_l) {
                      max-width: 300px;
                    }

                    > div {
                      width: calc(50% - 7.5px);
                      max-width: 125px;

                      @media screen and (min-width: $breakpoint_2xs) {
                        max-width: unset;
                      }

                      @media screen and (min-width: $breakpoint_l) {
                        width: 140px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .cross-wrapper {
    height: 44px;
    max-width: 32px;

    @media screen and (min-width: $breakpoint_l) {
      margin-bottom: 29px;
    }

    display: flex;
  }

  .icon.cross {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    min-width: 18px;
    height: 18px;
    margin-left: 14px;
    align-self: center;

    @media screen and (min-width: $breakpoint_xl) {
      margin-left: 27px;
    }

    path {
      stroke: $black_272;
    }
  }
}
