@import "../../assets/styles/common/variables";

.checkbox-box-root {
  display: flex;
  flex-wrap: wrap;

  & > * {
    min-width: 33%;
    margin-bottom: 39px;

    span {
      font-family: $secondaryTextFamily;
      font-size: 24px;
    }
  }
}


@media only screen and (max-width: 1050px) {
  .checkbox-box-root {
    > div {
      flex: 50%;
    }
  }
}

@media only screen and (max-width: 765px) {
  .checkbox-box-root {
    flex-direction: column;
  }
}
