@import "../../../../assets/styles/common/variables";

.root-personal {
  max-width: 620px;
  & > div {
    margin-bottom: 25px;
  }
  label {
    font-family: $mainTextFamily;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
    color: $black_272;
    display: inline-block;
  }
}
