@import "../../../../assets/styles/common/variables";

.license-root {
	margin-top: 3px;

	@media screen and (min-width: $breakpoint_l) {
		// max-width: 781px;
	}

	.profession-form {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 40px;

		> div {
			flex: 0 1 100%;
			max-width: 100%;
			margin-bottom: 40px;
			@media screen and (min-width: $breakpoint_l) {
				flex: 0 1 30%;
				max-width: 30%;
			}
			label, span {
				display: inline-block;
				font-family: $mainTextFamily;
				font-size: 16px;
				color: $black_272;
				text-transform: capitalize;
			}
		}

		&__form {
			label, span {
				line-height: 19px;
				margin-bottom: 8px;
			}
			> div {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__uploads {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			align-items: center;
			.image-upload {
				.message {
					font-size: 11px;
					line-height: 13px;
					color: $red_DA1;
					font-family: $mainTextFamilyRegular;
					text-transform: none;
				}

				& > span {
					line-height: 24px;
					margin-bottom: 5px;
				}

				& > div.drop-area, & > div.image-area, & > div.image-area img {
					width: 140px;
					height: 138px;
					border-radius: 8px;
					box-sizing: border-box;
				}

				& > div.image-area img {
					object-fit: cover;
				}

				& > div.image-area {
					position: relative;

					& > button {
						display: flex;
						justify-content: center;
						align-items: center;
						position: absolute;
						top: -16px;
						right: -16px;
						background: $white;
						border-radius: 50%;
						width: 32px;
						height: 32px;
						box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
						cursor: pointer;
						border: none;
						padding: 0;
						outline: inherit;

						& svg {
							width: 14px;
							height: 14px;

							& path {
								stroke: $orange_ED9;
							}
						}
					}
				}

				& > div.drop-area {
					cursor: pointer;
					border: 2px dashed $orange_ED9;
					display: flex;
					justify-content: center;
					align-items: center;

					&:focus {
						outline: none;
					}
				}
			}
		}
		
		&__example {}
		
		&__example-images {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			> div {
				flex: 0 1 30%;
				max-width: 30%;
			}
		}
	}

	& .checkbox-zone {
		display: flex;
		align-items: center;
		margin: 8px 0px 18px;

		& div span {
			font-size: 16px;
			font-family: $mainTextFamily;
		}

		& hr {
			flex-grow: 1;
			margin-left: 8px;
		}
	}
}
