@import "../../assets/styles/common/variables";

.sliderItem {
  background-color: $red;
}

.slick-slider {
  &__next-arrow-wrapper {
    display: none;

    @media screen and (min-width: $breakpoint_l) {
      display: block;
      position: absolute;
      right: -35px;
      top: 50%;
    }
  }

  &__prev-arrow-wrapper {
    display: none;

    @media screen and (min-width: $breakpoint_l) {
      display: block;
      position: absolute;
      right: -35px;
      top: 50%;
    }
  }

  .prev-arrow {
    left: -37px;

    &:after {
      transform: rotate(43deg);
      left: 18px;
    }
  }

  &__next-arrow {
    position: relative;
    right: -37px;
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 49px;
    height: 49px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    display: block;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid #EFEFF4;
    box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.0305944);

    &::after {
      position: absolute;
      top: 15px;
      left: 13px;
      content: '';
      display: block;
      border-left: 2px solid rgb(255, 153, 0);
      border-bottom: 2px solid rgb(255, 153, 0);
      transform: rotate(-135deg);
      width: 15px;
      height: 15px;
    }
  }
}

.dashboard {
  .slick-slider {
    &__next-arrow-wrapper {
      position: absolute;
      right: -35px;
      top: 50%;
    }

    &__prev-arrow-wrapper {
      position: absolute;
      left: -35px;
      top: 50%;
    }

    .prev-arrow {
      left: -37px;

      &:after {
        transform: rotate(43deg);
        left: 18px;
      }
    }

    &__next-arrow {
      position: relative;
      right: -37px;
      font-size: 0;
      line-height: 0;
      top: 50%;
      width: 49px;
      height: 49px;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: 0;
      display: block;
      background-color: $white;
      border-radius: 50%;
      border: 1px solid #EFEFF4;
      box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.0305944);

      &::after {
        position: absolute;
        top: 15px;
        left: 13px;
        content: '';
        display: block;
        border-left: 2px solid rgb(255, 153, 0);
        border-bottom: 2px solid rgb(255, 153, 0);
        transform: rotate(-135deg);
        width: 15px;
        height: 15px;
      }
    }
  }

  &__wrapper {
    background-color: $grey_FBF;
  }

  .slick-slide {
    & > div {
      margin-right: 10px;
      margin-left: 10px;
      border-radius: 8px;
      box-sizing: border-box;
    }
  }

  .slider-wrapper-main-block {
    max-width: 100%;
    margin: auto;
    padding: 50px;

    & .table {
      max-width: 1260px;
      margin: auto;
    }

    & .slick-dots {
      text-align: left;

      & li {
        color: $orange_ff9;
        margin: 0 0;
        width: 17px;

        button:before {
          color: $orange_ff9;
          font-size: 10px;
        }
      }
    }

    & .how-it-works__main-slider {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      font-family: $mainTextFamily;
      font-size: 48px;
      text-transform: uppercase;
      line-height: 54px;
    }

    &__text {
      font-family: $secondaryTextFamily;
      font-size: 21px;
      margin-top: 20px;
    }

    &__text-wrapper {
      max-width: 530px;
    }
  }

  .slider-wrapper-block {
    max-width: 900px;
    margin: auto;
    font-size: 11px;

    & .slick-dots li {
      margin: 0px 0px;

      & button:before {
        color: $orange;
        font-size: 10px;
      }
    }

    & .slick-list {
      background: $white;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.03);
      border-radius: 4px;
    }

    & .slider-wrapper__text-block {
      text-align: center;
      margin: auto;
      max-width: 850px;
      font-size: 24px;
      font-family: $secondaryTextFamily;
    }

    & .slider-wrapper-block-h1 {
      text-align: center;
      margin: auto;
      max-width: 700px;
      font-size: 24px;
      margin-bottom: 15px;
      font-family: $mainTextFamily;
    }
  }

  .slider-wrapper {
    padding: 0px;
    margin-left: -10px;

    @media screen and (min-width: $breakpoint_m) {
      margin-right: -10px;
    }

    &__icon {
      img {
        border-radius: 100px;
      }
    }

    &__text-block {
      color: $black_272;
      padding: 10px;
    }

    &__numbers, &__news {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__number {
      background: #5C9E79;
      box-shadow: 0px 4px 8px rgba(92, 158, 121, 0.4);
      border-radius: 50%;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-family: $mainTextFamily;
      margin-top: -5px;
      cursor: pointer;
      font-size: 14px;
    }

    &__new {
      background: #5C9E79;
      box-shadow: 0px 4px 8px rgba(92, 158, 121, 0.4);
      border-radius: 12px;
      cursor: pointer;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-family: $mainTextFamily;
      margin-top: -5px;
      padding: 0px 7px 0px 7px;
      font-size: 14px;
    }

    &__date {
      color: $black_272;
      font-family: $secondaryTextFamily;
      font-size: 12px;
      margin-bottom: 10px;
      line-height: 18px;
    }

    &__text-description {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 14px;
      line-height: 21px;
      min-height: 21px;
    }

    &__button {
      border: none;
      outline: none;
      background: none;
      padding: 0px;
      color: $orange;
      font-weight: bold;
      cursor: pointer;
    }

    &__icon {
      width: 30px;
      height: 30px;
      margin-right: 12px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__initials {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      background: $primary-darker;
      border-radius: 50%;
      color: $white;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__item-block {
      width: 100%;
      margin-right: 10px;
      outline: none;
      background: $white;
      border-radius: 8px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.03);

      & a {
        cursor: pointer;
      }
    }

    &__name {
      display: flex;
      align-items: center;
      color: $black_272;
      font-family: $mainTextFamily;
      font-size: 14px;
    }

    &__text {
      color: $black_272;
      font-family: $secondaryTextFamily;
      margin: 0px;
      padding: 8px 8px 12px 12px;

      & a {
        color: $orange;
        font-family: $mainTextFamily;
      }
    }

    &__ranting {
      display: flex;
      color: $white;
      margin-bottom: 10px;
    }

    &__ranting-score {
      display: flex;
      justify-content: space-between;
      width: 73px;
      margin-right: 20px;
      margin-bottom: 10x;
    }

    &__ranting-text {
      font-family: $secondaryTextFamily;
      display: flex;
    }

    &__icon-wrapper {
      display: flex;
      margin: 0px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-top: 10px;
      border-bottom: 1px solid $grey_E0E;
    }
  }

  .slick-next {
    display: none;
    right: -58px;
    width: 80px;

    @media screen and (min-width: $breakpoint_l) {
      display: block;
    }
  }

  .carousel_item {
    width: 300px;
  }

  .slick-next::before {
    display: none;
  }
}
