@import "../../assets/styles/common/variables";

.filter-root {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 16px 16px 32px;
  margin: -75px auto 27px;
  background-color: $white;
  width: calc(100vw - 32px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.03);

  @media screen and (min-width: $breakpoint_l) {
    padding: 22px 16px 12px;
    max-width: 1260px;
    box-shadow: unset;
  }

  svg.starIcon {
    width: 16px;
    height: 16px;
    margin-right: 7px;

    path {
      width: 100%;
      height: 100%;
      stroke: $black;
      stroke-width: 1px;
    }
  }

  > .reset-filters {
    display: flex;
    align-items: center;
    padding: 0px;
    font-size: 16px;
    line-height: 25.5px;
    margin: 24px auto -8px;

    @media screen and (min-width: $breakpoint_l) {
      margin: unset;
    }

    > span {
      display: flex;
      margin-right: 15px;
    }

    &:focus {
      outline: none;
    }
  }

  > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > button {
      height: 44px;
      margin-top: 8px;
    }

    @media screen and (min-width: $breakpoint_l) {
      flex-direction: row;
      margin-bottom: 18px;

      > button {
        margin-top: unset;
        width: 126px;
        align-self: flex-end;
      }
    }

    > div {
      width: 100%;
      flex: 1 1;
      margin-bottom: 16px;
      margin-right: 8px;

      > label {
        font-family: $mainTextFamily;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
        color: $black_272;
        display: inline-block;
        margin-bottom: 8px;
        cursor: pointer;
        white-space: nowrap;
      }

      @media screen and (min-width: $breakpoint_l) {
        margin-bottom: unset;
      }

      &.proTypeContainer, &.placeLocationContainer, &.interestsContainer {
        @media screen and (min-width: $breakpoint_l) {
          max-width: 200px;
        }
      }

      &.ratingContainer, &.zipcodeContainer, &.priceContainer {
        @media screen and (min-width: $breakpoint_l) {
          max-width: 136px;
        }
      }
    }
  }
}
