$whiteText: white;
$font-size: 14px;

.scrollDown-wrapper {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, -50%);
}

.scrollDown {
  &__textBlock {
    padding-bottom: 30px;
    color: $whiteText;
    font-family: "QuestrialRegular";
    font-weight: normal;
    font-style: normal;
    font-size: $font-size;
  }
  &__arrowBlock {
    position: relative;
  }
    position: relative;
    bottom: 0;

  &-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    bottom: 70px;
  }
}

#section07 a {
    padding-top: 80px;
  }
  #section07 a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #section07 a span:nth-of-type(2) {
    top: -8px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  #section07 a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  