@import "../../../assets/styles/common/variables";

.nav-buttons-root {
  margin-top: 15px;
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $breakpoint_l) {
    max-width: 300px;
  }

  button {
    height: 44px;
    width: 100%;
    max-width: calc(50% - 7.5px);
    @media screen and (min-width: $breakpoint_l) {
      max-width: 140px;
    }
  }
}
