@import "../../../assets/styles/common/variables";

.welcome-root {
  display: flex;
  flex-direction: column;
  position: relative;
  color: $black_272;
  margin-top: 9px;
  height: calc(100vh - 169px);

  @media screen and (min-width: $breakpoint_l) {
    margin-top: 171px;
    height: unset;
  }

  .linkbtn {
    font-size: 16px;
  }

  & > .title-background {
    display: none;

    @media screen and (min-width: $breakpoint_l) {
      display: block;
      text-overflow: ellipsis;
      position: absolute;
      opacity: 0.1;
      text-transform: uppercase;
      font-size: calc(max(min(5.86vw, 72px), 30px));
      top: 0;
      font-family: $mainTextFamily;
    }
  }

  & > h2 {
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    font-family: $mainTextFamily;
    margin-bottom: 24px;

    @media screen and (min-width: $breakpoint_l) {
      font-size: 48px;
      line-height: 57px;
    }
  }

  & > p {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    & span {
      font-family: $secondaryTextFamily;
      font-size: 24px;
      line-height: 36px;
    }
  }

  > div {
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;

    @media screen and (min-width: $breakpoint_l) {
      flex-direction: column;
    }

    > span {
      margin-right: 9px;
      font-family: $secondaryTextFamily;
      font-size: 16px;
      line-height: 25px;
      display: flex;
      align-items: center;

      & > .linkbtn {
        margin-left: 9px;
      }
    }

    > span {
      font-family: $secondaryTextFamily;
      font-size: 16px;
      line-height: 25px;
    }

    & > button.startbtn {
      margin-top: 22px;
      margin-bottom: 16px;
      width: 100%;

      @media screen and (min-width: $breakpoint_l) {
        max-width: 220px;
        margin-bottom: unset;
      }

      height: 44px;
    }
  }
}
