@import "../../assets/styles/common/variables";

.form-phone-field {
  max-width: 70px;
  display: flex;
  flex-direction: column;
  & label {
    width: 150px;
  }
}

.inputPhoneField__select {
  & option {
    background-image: url("../../assets/images//icons/flaEng.png");
    background-position: left 10px top 10px;
  }

  padding-left: 34px;
}

.inputField {
  & label {
    font-weight: bold;
  }
}

.form-group {
  margin-top: 22px;
  max-width: $inputWidthWrapper;
  input,
  label {
    margin-top: 8px;
  }
  & .form-control {
    padding: 11px !important;
  }
}

.form-icon-control {
  padding: 12px !important;
}

.form-icon {
  & .form-icon-control {
    padding: 12px !important;
  }
}

.form-icon-control {
  background: url("../../assets/images/icons/show_password_icon.png") no-repeat
    scroll 5px 30px;
  background-position: right 10px top 10px;
}

.c-country-select {
  .css-g1d714-ValueContainer {
    padding-top: 10px;
    width: 170px;
    > div {
      display: flex;
      div {
        padding-right: 10px;
        width: 24px;
      }
    }
  }
  & > div {
    // & > div {
    //   display: flex;
    // }
    height: 44px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 110px;
  }
}

.c-country-select .css-b8ldur-Input {
  display: none !important;
}
