@import "../../../assets/styles/common/variables";

.request-form {
  width: 100%;
  justify-content: flex-end;
  display: flex;

  @media screen and (min-width: $breakpoint_l) {
    max-width: 310px;
  }
  @media screen and (min-width: $breakpoint_xl) {
    max-width: 340px;
  }

.a:hover{
  cursor: pointer;
}

  .calendar-popup-popper {
    margin-top: 0px;
  }

  & > div {
    text-align: center;
    position: relative;

    & .toggler-root {
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;

      & > button {
        flex: 1;
        font-family: $mainTextFamily;
        font-size: 16px;
        line-height: 24px;
        color: $grey_BDB;
        text-transform: capitalize;
        position: relative;

        &.active {
          color: $black_272;

          &:before {
            content: '';
            position: absolute;
            border-top: 4px solid $orange_FFA;
            width: 40px;
            top: 0px;
            border-radius: 2px;
            box-shadow: 0px 4px 4px rgba(237, 153, 84, 0.2);
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
          }
        }
      }
    }

    & > form {
      text-align: start;
      background: $white;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.03);
      border-radius: 4px;
      margin-bottom: 15px;
      overflow: auto;
      width: 100vw;

      @media screen and (min-width: $breakpoint_l) {
        width: 300px;
      }

      & > div.controls {
        padding: 18px 24px;

        & .title {
          display: inline-block;
          line-height: 18.96px;
          font-family: "RubikBold";
          font-size: 16px;
          margin-bottom: 8px;
        }

        > div {
          margin-bottom: 20px;
        }

        & .time-section {
          padding-bottom: 2px;
          display: flex;
          justify-content: space-between;

          & > div {
            width: 100%;
            max-width: calc(50vw - 34px);

            @media screen and (min-width: $breakpoint_l) {
              max-width: 118px;
            }
          }
        }

        & .total {
          margin: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;

          & span {
            font-family: $secondaryTextFamily;
            font-size: 14px;
            line-height: 14px;
          }

          & h5 {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      > button {
        width: calc(100% - 48px);
        height: 44px;
        margin: 24px;
      }
    }

    & > .linkbtn {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 44px;

      @media screen and (min-width: $breakpoint_l) {
        margin-bottom: unset;
      }
    }
  }

  .error-msg {
    margin-top: 14px;
    margin-bottom: -10px;
    font-size: 14px;
    font-family: $mainTextFamily;
    text-align: center;
    color: $red_DA1;
    line-height: 18px;
  }
}
