.carousel-content {
  width: 100%;

  .carousel {
    width: 100%;
    max-width: 750px;
    margin: 0 auto !important;

    .slide {
      background-color: transparent;
    }

    .control-dots {
      position: relative;

      .dot {
        background-color: $primary;
      }
    }

    .control-prev.control-arrow:before {
      border-right: 8px solid $primary;
    }

    .control-next.control-arrow:before {
      border-left: 8px solid $primary;
    }

    &.carousel-slider {
      @media screen and (min-width: $md-min) {
        padding: 0 ($gutter * 2);
      }

      .control-prev.control-arrow:hover {
        background: transparent;

        &:before {
          border-right: 8px solid $primary-darker;
        }
      }

      .control-next.control-arrow:hover {
        background: transparent;

        &:before {
          border-left: 8px solid $primary-darker;
        }
      }
    }
  }

  .control-dots {
    padding: 0;
  }

  &__slide {
    padding: $gutter;

    p {
      margin: 0;
    }

    svg {
      color: $primary-darker;
    }
  }
}

.carousel {
  .slider-wrapper {
    padding: unset;
  }
}

.carousel-about {
  .carousel.carousel-slider {
    padding: ($gutter * 4) 0;

    @media screen and (max-width: $sm-max) {
      width: calc(100vw - #{$gutter}*2) !important;
    }

    .slide {
      background-color: transparent;
      text-align: left;
    }

    .control-dots {
      .dot {
        background: $primary;
        width: 10px;
        height: 10px;
      }
    }
  }
}
