.m-20 {
  margin: 20px;
}

.m-40 {
  margin: 40px;
}

.m-5 {
  margin: 5px;
}

.dashboard {
  @media screen and (min-width: $breakpoint_l) {
    max-width: calc(100% - 390px);
  }

  &__head-goal {
    color: $green;
  }

  &__callout {
    background-color: $primary-darker;
    color: $white;
    padding: $gutter 0;
    text-align: center;
  }

  &__glance {
    background-color: $gray-lighter;
    border: $theme-black solid 1px;
    border-radius: 10px;
    padding: ($gutter * 3) ($gutter * 1.5);
    width: 100%;

    &--standout {
      @extend %text--lg, %text--primary-darker, %text--font-secondary;

      line-height: 1;
    }

    &--rating {
      .dv-star-rating {
        display: none !important;
      }

      .stars {
        &__rating {
          &:after {
            content: "/5";
            font-size: 50%;
          }
        }
      }
    }
  }

  .pro-card {
    .toggler-root {
      flex-wrap: wrap;
    }
  }

  .row {
    justify-content: space-between;

    > .pro-list__card {
      flex: 1 1 100%;

      .pro-card {
        &__inner {
          margin-right: 16px;
          .toggler-root {
            flex-wrap: unset;
          }

          @media screen and (min-width: $breakpoint_m) {
            margin-right: unset;
          }
        }

        &__image {
          max-width: 100%;
        }
      }

      @media screen and (min-width: $breakpoint_m) {
        max-width: calc(50% - 10px);
      }

      @media screen and (min-width: $breakpoint_l) {
        max-width: calc(33.3% - 10px);
      }

      @media screen and (min-width: $breakpoint_xl) {
        flex-basis: 25%;
        max-width: 300px;
      }
    }
  }
}

.profile-image {
  &__upload {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    .message {
      margin-bottom: $gutter * 2;
      font-size: 11px;
      line-height: 13px;
      color: $red_DA1;
      font-family: $mainTextFamilyRegular;
      text-transform: none;
    }

    progress {
      width: 100%;
    }

    input {
      margin-bottom: -$gutter;
      margin-left: -15px;
    }
  }

  &__current {}
}

.current-weather {
  width: 100%;

  @media screen and (min-width: $md-min) {
    text-align: right;
  }

  &__city {
    @extend .text--sm;

    font-weight: bold;
    text-transform: capitalize;
  }

  &__description {
    text-transform: capitalize;
  }
}

.motivation-quote {
  @extend .text--md;

  padding-top: $gutter * 2;
  max-width: 786px;
  width: 100%;
  margin: auto;
  text-align: center;
  font-style: italic;

  &__form {
    width: 100%;

    .form__inner {
      @media screen and (min-width: $md-min) {
        flex-flow: row nowrap;
      }
    }

    .field {
      align-items: center;

      @media screen and (min-width: $md-min) {
        flex: 0 0 calc(99% - 300px);
      }

      &:last-child {
        align-items: center;

        @media screen and (min-width: $md-min) {
          flex: 0 0 300px;
        }
      }
    }

    .button {
      height: 100%;
      align-items: center;
    }
  }
}
