@import "../common/variables";

.filter {
  padding: 22px;
  border-radius: 4px;

  &__rating {
    width: 100px;
    padding: 0 10px;
  }

  &__zindex {
    & input {
      max-width: 175px;
      color: $theme-black;

      &::placeholder {
        color: $theme-black;
      }
    }
  }

  &__text {
    color: $black;
    margin-bottom: 8px;
  }

  &__zipcode {
    padding: 0 10px;
    width: 80px;
    margin-right: 20px;

    &-wrapper {
      max-width: 80px;
    }

    & input {
      &::placeholder {
        color: $theme-black;
      }
    }
  }

  &__rowWrapper {
    justify-content: space-between;

    & select {
      height: 44px;
      padding: 11px;
      font-family: $secondaryTextFamily;
    }

    & input {
      height: 12px;
      font-family: $secondaryTextFamily;
    }
  }

  &__inperson {
    width: 158px;
    padding: 0 10px;
  }

  &__interests {
    width: 190px;
    padding: 0px 10px;
  }

  &__row {
    // display: flex;
    // justify-content: space-between;
 
  }

  & .filter__wrapperm,
  .filter__interests {
    font-family: $secondaryTextFamily;
  }

  & .filter__text {
    font-family: $mainTextFamily;
  }

  & .form-phone-field {
    max-width: unset;
    font-family: $secondaryTextFamily;
  }

  & .c-country-select > div {
    height: 49px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  & .c-country-select .css-g1d714-ValueContainer > div div {
    padding-right: 0px;
  }

  &__button-search {
    margin-top: 28px;
    margin-right: 10px;
    margin-left: 10px;

    .buttonComponent {
      height: 44px;
      padding: 10px 24px;
      cursor: pointer;
    }
  }

  &__wrapper {
    max-width: 188px;
    display: flex;
    flex-flow: row wrap;
    flex: auto;
    flex-direction: column;
    padding: 0px 10px;
  }

  input,
  select {
    border: $grey_E0D solid 1px;
    border-radius: 8px;
    font-family: $secondaryTextFamily;

    &:focus {
      border: 1px solid $orange_ED9;
      border-radius: 8px;
      outline: none;
    }

    &:active {
      border: 1px solid $orange_ED9;
    }
  }

  input {
    background-repeat: no-repeat;
    background-position: center left 10px;
  }

  .button {
    align-items: center;
    width: 100%;
    border: $theme-black solid 1px;

    &:hover {
      background-color: $primary-darker;
      color: $white;
    }
  }

  .col {
    padding: 0 $gutter;

    @media screen and (max-width: $md-max) {
      margin-bottom: $gutter;
      padding: 0 ($gutter / 2);
    }

    &:last-child {
      flex: 0 1 140px;
    }
  }
}
