@import "../common/variables";

.footer {
  &__newsletter {
    background-color: $theme-black;
    padding: ($gutter * 5) ($gutter * 2);

    .form {
      max-width: 900px;
    }

    .form__row {
      align-items: center;
      justify-content: space-between;

      > div {
        flex: 0 1 100%;

        @media screen and (min-width: $md-min) {
          flex: 0 1 24%;
        }
      }

      input {
        width: 100%;
      }
    }
  }

  &__submit-block {
    display: flex;
    position: relative;

    & .footer-button {
      position: absolute;
      right: 0;
      width: 35%;

      & .buttonComponent {
        padding: 0px;
        margin-top: 0px;
      }
    }
  }

  &__title {
    font-family: $mainTextFamily;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    @media screen and (min-width: $breakpoint_m) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__top {
    background-color: #27262b;
    color: #ffffff;
    border-top: $theme-black solid 1px;
    padding: 25px 17px;

    & .container {
      max-width: 1280px;
    }

    li {
      margin-bottom: $gutter;
      font-size: 14px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 15px;
    width: 100%;
    &:not(:last-of-type) {
      max-width: 221px;
    }
    @media screen and (min-width: $breakpoint_xs) {
      max-width: 221px;
    }
    @media screen and (min-width: $breakpoint_3xs) {
      &:not(:last-of-type) {
        width: calc(50% - 25px);
      }
    }
  }
  
  &__bottom {
    background-color: #3d3c40;
    color: $gray-light;
    padding: ($gutter * 2) $gutter;
    text-align: center;

    & .container {
      max-width: 1280px;
    }
  }

  &__col {
    &__support {
      font-family: $mainTextFamilyRegular;
      font-size: 14px;
    }

    a {
      color: #E0DFE6;
      position: relative;
      font-family: $mainTextFamily;

      &:hover {
        color: #ED9954;
      }

      &:before {
        background-color: #ED9954;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
      }

      &:hover:before {
        content: '';
        background: #ED9954;
        box-shadow: 0px 4px 4px rgba(237, 153, 84, 0.2);
        border-radius: 2px;
        margin: auto;
        left: 0;
        right: 0;
      }
    }

    &--alt {
      a {
        color: #E0DFE6;

        &:hover {
          color: #ED9954;
        }
      }
    }
  }
}
