@import "../common/variables";

// Header
$header-container-padding-y: $gutter / 2 - 2;
$grey: grey;

// Nav Menu
$breakpoint: 768px;
$nav-padding: 15px;
$nav-btn-width: 40px;
$bar-height: 2px;
$bar-spacing: 7px;
$hamburger-color: $theme-black;
$hamburger-color-hover: orange;
$nav-profile-image-size: 50px;
$transparent-color: rgba(117, 190, 218, 0);
$white-color: white;

.header-wrapper {
  position: absolute;
  width: 100%;
  background-color: rgba(39, 38, 43, 0.2);
  font-family: "RubikRegular";

  &__black {
    background-color: $theme-black;
    position: absolute;
    width: 100%;
    font-family: "RubikRegular";
    max-height: 80px;
    box-sizing: border-box;
  }
}

.header-wrapper-black {
  background-color: $black_272;
}

.MuiButton-root {
  color: $red;
}

.header {
  &__dashboard {
    > div {
      padding: 10px 16px;
      @media screen and (min-width: $breakpoint_l) {
        padding: 10px 30px;
      }
    }
  }

  .row {
    padding: 0px 54px;
    display: flex;
    justify-content: space-between;
  }

  position: sticky;
  top: 0;
  z-index: 1301;
  font-family: $font-secondary;
  background-color: $transparent-color;

  @media screen and (min-width: $breakpoint_l) {
    z-index: 2;
  }

  &__brand {
    height: 100%;
    display: flex;

    img {
      width: 60px;
      height: 60px;
    }
  }

  &__userIcon-media {
    min-width: 36px;
    display: flex;

    @media screen and (min-width: $breakpoint_l) {
      display: none;
    }
  }

  &__logo {
    box-sizing: border-box;
    display: flex;
    flex-shrink: 1;
    margin: 0px auto;

    @media screen and (min-width: $breakpoint_l) {
      margin: unset;
    }
  }

  &__item {
    max-width: 30%;
  }

  &__navbar-center {
    display: flex;
    justify-content: space-between;
    height: 50px;

    .navbar-input {
      border-radius: 8px;
      border: 2px solid #E0DFE6;
      background-color: transparent;
      color: #FFFFFF;
      font-family: $secondaryTextFamily;
      font-size: 14px;
      padding: 0 20px 0 10px;
      outline: none;
    }

    & input {
      max-width: 200px;
      margin: 0 10px;
    }

    & .makeStyles-root-2:hover {
      background: none;
    }
  }

  &__nav {
    margin: auto;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      flex-flow: row wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      align-items: center;
    }

    li {
      flex: 0 1 100%;
      text-align: center;
      margin-bottom: $gutter / 2;

      @media screen and (min-width: $breakpoint) {
        flex: auto;
        margin-bottom: 0;
      }
    }

    .pure-button {
      padding: 10px 35px;
      white-space: nowrap;
    }

    //Mobile
    position: fixed;
    background-color: $grey;
    width: 100vw;
    height: 100vh;
    top: -125%;
    left: 0;
    justify-content: center;
    transition: 500ms;

    @media screen and (min-width: $breakpoint) {
      position: relative;
      top: 0;
      background-color: transparent;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
    }

    &--active {
      top: 0;
      z-index: 998;

      & .userIcon {
        display: none;
      }

      & .header__nav-link-burger-visible {
        display: block;
      }

      ~ .header__nav-btn-wrapper {
        z-index: 999;
      }
    }
  }

  &__nav-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__nav-link {
    color: $white-color;
    padding: 5px 15px;
    text-decoration: none;
    position: relative;

    &:hover:after {
      content: '';
      background: #ED9954;
      box-shadow: 0px 4px 4px rgba(237, 153, 84, 0.2);
      border-radius: 2px;
      margin: auto;
      left: 13px;
      top: -23px;
    }

    &__active {
      color: $white-color;
      font-weight: bold;
      position: relative;
      padding: 5px 15px;

      &::after {
        color: orange;
        content: "";
        box-shadow: 0px 4px 4px rgba(237, 153, 84, 0.2);
        border-radius: 2px;
      }
    }

    &:hover {
      font-weight: bold;
    }
  }

  &__nav-link-btn {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }

  &__nav-btn-wrapper {
    z-index: 1301;
    display: flex;
    align-items: center;

    @media screen and (min-width: $breakpoint_l) {
      z-index: 2;
    }

    @media screen and (min-width: $breakpoint) {
      display: none;
    }
  }

  &__nav-btn {
    cursor: pointer;
    position: relative;
    background: none;
    border: none;
    width: $nav-btn-width;
    height: calc(#{$bar-spacing}* 2 + #{$bar-height}* 3);

    &:hover {
      .hamburger {
        &:after,
        &:before {
          background: $hamburger-color-hover;
        }
      }
    }
  }

  &__nav-profile {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    outline: none;

    > svg {
      transition: 300ms;
      color: $red;
    }
  }

  &__nav-profile-image {
    margin-right: $gutter / 2;

    img {
      border: $red solid 1px;
      border-radius: 50%;
      width: $nav-profile-image-size;
      height: $nav-profile-image-size;
      object-position: center;
      object-fit: cover;
    }
  }

  &__nav-settings {
    position: relative;
    border-top: $theme-black solid 1px;
    margin-top: $gutter;
    padding-top: $gutter;

    @media screen and (min-width: $breakpoint) {
      border-top: none;
      border-left: $theme-black solid 1px;
      margin-top: 0;
      padding-top: 0;
      padding-left: $gutter;
    }

    &--active {
      .header {
        &__nav-profile {
          > svg {
            transform-origin: center;
            transform: rotate(180deg);
          }
        }

        &__nav-link {
          padding: ($gutter / 2) ($gutter * 2);
          display: inline-block;

          &:hover {
            color: $white;
          }
        }

        &__nav-settings-results {
          border-color: $theme-black;
          border-style: solid;
          border-width: 0 0 1px;

          @media screen and (min-width: $breakpoint) {
            border-width: 1px;
          }

          li {
            &:hover {
              background-color: $theme-black;
            }
          }
        }
      }
    }
  }

  &__nav-settings-btn {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  &__nav-settings-results {
    display: none;
    top: 100%;
    z-index: 1;
    background-color: $gray-lighter;

    @media screen and (min-width: $breakpoint) {
      position: absolute;
      right: -$gutter;
    }

    &--active {
      display: block;
    }

    > ul {
      li {
        white-space: nowrap;
      }
    }
  }

  &__secondary {
    @media screen and (min-width: $breakpoint) {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      height: 100%;
    }
  }
}

.initials {
  width: $nav-profile-image-size;
  height: $nav-profile-image-size;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: $primary-darker;
  border-radius: 50%;
  color: $white;
  font-size: 150%;
  font-weight: bold;
  text-transform: uppercase;
}

.circle-notification {
  width: 15px;
  height: 15px;
  font-size: 13px;
  text-align: center;
  border-radius: 50%;
  background-color: $red;
  color: $white;
  position: absolute;
  top: 0;
  right: 0;
}

.hamburger {
  position: relative;
  background: $hamburger-color;
  transition: all 0ms 300ms;
  height: $bar-height;
  width: 100%;

  &:after,
  &:before {
    width: 100%;
    height: $bar-height;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background: $hamburger-color;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background: $hamburger-color;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &--active {
    background: transparent;

    &:after {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
}

.header__navInfo {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: 29%;
  }
}
