$user-image-size: 80px;

.inbox {
  @media screen and (min-width: $breakpoint_l) {
    max-width: calc(100% - 390px);
  }

  .interaction {
    &__snippet {
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.interaction {
  border: $gray-light solid 1px;
  border-radius: 10px;
  background-color: $gray-lighter;
  color: $theme-black;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding: $gutter;

  @media screen and (min-width: $breakpoint_l) {
    padding: $gutter ($gutter * 2);
  }

  &--unread {
    border: $black solid 1px;
  }

  &__user {
    display: flex;
    flex-grow: 1;
    margin-right: 10px;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    max-width: 85px;

    @media screen and (min-width: $breakpoint_l) {
      max-width: 200px;
      flex-direction: row;
      align-items: center;
    }
  }

  &__user-img {
    margin-right: $gutter;

    img, .initials {
      width: $user-image-size / 2;
      height: $user-image-size / 2;
      object-fit: cover;
      border-radius: 50%;
      border: $gray-light solid 1px;

      @media screen and (min-width: $breakpoint_l) {
        width: $user-image-size;
        height: $user-image-size;
      }
    }
  }

  &__user-name {
    font-size: 14px;

    @media screen and (min-width: $breakpoint_l) {
      font-size: 16px;
    }
  }

  &__snippet {
    flex: 1;
    min-width: 0;

    p {
      font-size: 14px;

      @media screen and (min-width: $breakpoint_l) {
        font-size: 16px;
      }
    }
  }

  &__type {
    flex: 0 1 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;

    p {
      font-size: 12px;

      @media screen and (min-width: $breakpoint_l) {
        font-size: 16px;
      }
    }
  }

  &--inquiry {
    .interaction__type {
      color: $yellow-darker;
    }
  }

  &--booking {
    .interaction__type {
      color: $green;
    }
  }

  .new {
    color: $red;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: 0;
    left: $user-image-size / 2.2;
    background: black;
    padding: 0 5px;

    @media screen and (min-width: $breakpoint_l) {
      left: $user-image-size / 1.5;
    }
  }
}

.interaction-list {
  width: 100%;
}

.interaction-details {
  button:disabled {
    background-color: $grey_D8D;
    border-color: $grey_D8D;
  }

  .container {
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $breakpoint_l) {
      flex-direction: row;
      align-items: unset;
    }
  }

  display: flex;
  justify-content: center;

  > div {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    > * {
      max-width: 370px;
      flex: 1;
    }
  }

  h3,
  p {
    margin-bottom: 0;
  }

  &__summary {
    box-sizing: border-box;
    border: $theme-black solid 1px;
    border-radius: 10px;
    background-color: $gray-lighter;
    padding: $gutter * 2;
    width: 100%;
    margin-bottom: $gutter * 2.5;

    @media screen and (min-width: $md-min) {
      padding: $gutter * 4;
    }

    @media screen and (min-width: $breakpoint_l) {
      margin-bottom: $gutter;
      margin-right: 20px;
    }

    > div {
      margin-bottom: $gutter * 2;
    }
  }

  &__summary-meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__summary-image {
    flex: 0 1 80px;

    .initials {
      width: 70px;
      height: 70px;
    }

    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }

  &__summary-pricing {
    p {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &__summary-name {
    flex: 0 1 75%;
  }

  &__buttons {
    flex: 0 1 100%;
    width: 100%;

    .link {
      margin: 0 auto $gutter;
    }

    button {
      margin-bottom: $gutter;
    }
  }

  &__time-booked {
    font-size: 12px;
    color: $gray;
    font-style: italic;
  }
}

.interaction-call {
  &--component {
    width: 100%;
    margin-bottom: $gutter;
  }
}

.call-status {
  margin-top: $gutter / 2;

  &__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;

    > div, button {
      width: 100%;
    }

    @media screen and (min-width: $breakpoint_l) {
      flex-direction: row;
      text-align: unset;
      > div, button {
        width: unset;
      }
    }
  }

  &__col {
    margin-bottom: 10px;

    &--center {
      order: 1;
    }

    @media screen and (min-width: $breakpoint_l) {
      margin-bottom: unset;

      &--center {
        order: unset;
      }
    }
  }
}

.chat {
  &__video {
    max-width: 450px;
    max-height: 339px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: $gray-light;
    background-image: url(../../images/ellipsis.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border: $theme-black solid 1px;

    @media screen and (min-width: $breakpoint_s) {
      min-width: 450px;
      min-height: 339px;
    }
  }
}

.incoming-call {
  position: fixed;
  top: 15vh;
  right: -50%;
  background-color: $primary-darker;
  line-height: 1;
  padding: 10px;
  border-left: $gray-dark solid 3px;
  border-top: $gray-dark solid 1px;
  border-bottom: $gray-dark solid 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: $white;
  font-size: 16px;
  transition: 300ms;
  display: flex;
  align-items: center;
  white-space: nowrap;
  z-index: -999999;
  opacity: 0;

  &:hover {
    background-color: $primary;
  }

  &--calling {
    right: 0;
    opacity: 1;
    z-index: 999999;
  }

  .phoning {
    margin-right: 10px;

    svg {
      animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
      transform-origin: 50% 50%;
    }
  }

  span {
    margin-top: 2px;
  }
}
