$message-image-size: 68px;

.message {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 10px;
  box-sizing: border-box;
  justify-content: flex-end;

  &__history {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;

    .infinite-scroll {
      padding: 0px 5px;
      display: flex;
      flex-direction: column;

      h4 {
        font-family: inherit;
        align-self: center;
        order: -1;
      }
    }
  }

  &__create {
    margin: ($gutter * 2) 0;

    form {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
    }

    textarea {
      resize: none;
      border: $gray solid 1px;
      border-radius: 10px;
      flex: 0 1 100%;
      font-family: $font-primary;
      font-size: $font-size;
      padding: $gutter;
      width: 100%;
      margin-bottom: $gutter / 2;
    }
  }

  &__content {
    flex: 0 1 calc(100% - #{$gutter} - #{$message-image-size});
  }

  &__content-time {
    padding-top: $gutter / 2;
    color: $gray;
    font-size: 12px;
    flex: 0 1 100%;
  }

  &__content-sent {
    background-color: $gray-lighter;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    padding: 12px;
    word-break: break-word;

    @media screen and (min-width: $breakpoint_l) {
      font-size: 16px;
      padding: $gutter;
    }
  }

  &__item {
    margin-bottom: $gutter * 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (min-width: $breakpoint_l) {
      margin-bottom: $gutter * 4;
    }

    &--receiver {
      flex-flow: row-reverse wrap;

      .message {
        &__content-sent {
          display: flex;
          justify-content: flex-start;
        }
      }
    }

    &--init {
      .message {
        &__content-sent {
          width: 100%;
          padding: $gutter * 2;
          background-color: $yellow;
        }
      }
    }
  }

  &__sender {
    flex: 0 1 $message-image-size;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    img, .initials {
      border-radius: 50%;
      border: $red solid 1px;
      object-fit: cover;
      letter-spacing: -2px;
      width: 48px;
      height: 48px;

      @media screen and (min-width: $breakpoint_l) {
        width: $message-image-size;
        height: $message-image-size;
      }
    }

    p {
      white-space: nowrap;
      text-align: center;
    }
  }
}
