@import "../common/variables";

$pro-card-spacing-padding: 20px;
$pro-card-spacing-margin: 25px;

.pro-card {
  color: $gray-dark;
  width: 100%;
  font-family: $secondaryTextFamily;
  outline: none;

  & .toggler-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 120px;
    margin-bottom: 8px;

    & > button {
      text-transform: capitalize;
      font-size: 16px;
      padding: 0px;
      white-space: nowrap;
      margin-right: 10px;
      font-family: $mainTextFamilyRegular;
      margin-bottom: 5px;

      &.active {
        font-family: $mainTextFamily;
      }
    }
  }

  &:hover {
    border: none;
  }

  &__empty-pharagraph {
    min-height: 26px;
  }

  &__specialities {
    margin-bottom: $topSpace__second;

    & p {
      color: $red_DA1;
    }
  }

  &__price {
    display: flex;
    font-family: "RubikBold";
    margin-bottom: 16px;

    & svg, img {
      margin-right: 15px;
    }
  }

  &__rating-wrapper {
    & img {
      margin-right: 15px;
    }
  }

  &__location, &__bookingId {
    display: flex;
    font-family: "RubikBold";
    margin-bottom: 16px;

    p {
      font-size: 14px;
    }

    & svg {
      margin-right: 15px;
    }

    & img {
      margin-right: 15px;
      height: 100%;
    }
  }

  &__rating-wrapper {
    display: flex;
    font-family: "RubikBold";
    margin-bottom: 16px;
    font-size: 14px;

    & svg {
      margin-right: 15px;
    }
  }

  &:hover {
    .pro-card__inner {
      box-sizing: border-box;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 500ms;

    @media screen and (min-width: $breakpoint_m) {
      align-items: center;

      .pro-card--compact & {
        flex-flow: row wrap;
      }
    }
  }

  &__image {
    width: 100%;
    height: 300px;
    position: relative;

    @media screen and (min-width: $breakpoint_ml) {
      max-width: 400px;
    }

    @media screen and (min-width: $breakpoint_xl) {
      max-width: 300px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &__content {
    flex: auto;
    font-family: $font-primary;
    font-family: "RubikRegular";
    width: 100%;
    margin-top: 12px;
    align-self: flex-start;

    @media screen and (min-width: $breakpoint_xl) {
      padding: 0px 10px;
    }

    @media screen and (min-width: $md-min) {
      & p:nth-child(3) {
        font-family: "QuestrialRegular";
      }
    }

    h3 {
      font-family: $font-primary;
    }
  }

  &__content-name {
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: $topSpace__second;
    font-family: $mainTextFamily;
  }
}
