.profile-edit {
  &__image {
    width: 100%;
    max-width: 350px;

    .profile-image__current {
      margin-bottom: $gutter * 2;
      position: relative;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -16px;
        right: -16px;
        background: $white;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        border: none;
        padding: 0;
        outline: inherit;

        & svg {
          width: 14px;
          height: 14px;

          & path {
            stroke: $orange_ED9;
          }
        }
      }
    }
  }

  &__specialties {
    .field--inline .checkbox {
      flex-basis: calc(25% - 20px);
      padding: 10px;
      margin: 0;
    }
  }
}
