.star-rating {
	margin-bottom: 5px;

	&--yellow {
		color: $yellow;
	}
	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin-right: 3px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.rating {
	margin-bottom: $gutter*3;
	&__stars {
		.dv-star-rating {
			font-size: 200%;
			flex: 0 1 auto;
			margin-bottom: $gutter;
		}
		.dv-star-rating-star {
			margin-right: 10px;
		}
	}
	&__message {
		display: flex;
	}
	form {
		display: flex;
		flex-flow: row wrap;
		> div {
			flex: 0 1 100%;
		}
	}
	textarea {
		border: $gray solid 1px;
		border-radius: 10px;
		flex: 0 1 100%;
		font-family: $font-primary;
		font-size: $font-size;
		padding: $gutter;
		width: 100%;
		margin-bottom: $gutter/2;
	}
}

.stars {
	display: flex;
	flex-flow: row wrap;
	color: $yellow-darker;
	font-weight: bold;
	&__rating {
    margin-right: $gutter/2;
    color: black;
    font-family: $mainTextFamily;
    font-size: $font-size14;
    padding: 2px 0px;
	}
	&__none {
		color: $theme-black;
  }
  & div:nth-child(2) {
    //library rewrite styles
    display: none !important;
  }
}

.review {
	display: flex;
	padding-bottom: $gutter;
	&__image {
		flex: 0 1 90px;

		img {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			border: $gray solid 1px;
		}
	}
	&__content {
		flex: 1;
		padding-left: $gutter;
		h2 {
			margin: 0;
			font-size: 20px;
			font-weight: bold;
		}
		p {
			margin-bottom: 0;
		}
	}
	&__name {
		width: 100%;
	}
	&__buttons {
		text-align: center;
		.button {
			margin: 0 auto 10px;
			width: 100%;
		}
		.ui.input {
			display: flex;
		}
	}
}
