.status {
  text-align: center;
  position: relative;
  transition: 500ms;

  .button {
    background: #efefef;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &--secondary {
    border-radius: 5px;

    a, .modal__trigger {
      cursor: pointer;
      display: block;
      padding: $gutter;
      text-decoration: none;
      text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 2px;
      width: 100%;
    }
  }

  &--warning {
    background-color: $yellow;
    &:after {
      content: '';
      background: $yellow;

      // background: -moz-linear-gradient(90deg, rgba(75,139,90,1) 0%, rgba(90,166,107,1) 35%, rgba(65,125,78,1) 100%);
      // background: -webkit-linear-gradient(90deg, rgba(75,139,90,1) 0%, rgba(90,166,107,1) 35%, rgba(65,125,78,1) 100%);
      background: linear-gradient(90deg, rgba($yellow-darker, 1) 0%, rgba($yellow, 1) 35%, rgba($yellow, 1) 100%);
    }
  }

  &--danger {
    background-color: $red;
  }

  &--success {
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      background: $green;
      background: -moz-linear-gradient(90deg, rgba(75, 139, 90, 1) 0%, rgba(90, 166, 107, 1) 35%, rgba(65, 125, 78, 1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(75, 139, 90, 1) 0%, rgba(90, 166, 107, 1) 35%, rgba(65, 125, 78, 1) 100%);
      background: linear-gradient(90deg, rgba(75, 139, 90, 1) 0%, rgba(90, 166, 107, 1) 35%, rgba(65, 125, 78, 1) 100%);
    }

    a {
      color: $white;
      text-decoration: none;
      transition: 300ms;

      &:hover {
        color: $gray-lighter;
      }
    }
  }

  &--full {
    width: 100%;
  }
}
