.react-tabs {
  -webkit-tap-highlight-color: transparent;
  width: 100%;

  &__tab-list {
    border-bottom: 1px solid $gray-light;
    margin: 0 0 ($gutter * 2);
    padding: 0;
  }

  &__tab {
    display: inline-block;
    bottom: -1px;
    background-color: $primary;
    color: white;
    position: relative;
    padding: ($gutter / 1.25) 0;
    text-align: center;
    list-style: none;
    cursor: pointer;
    width: 100%;
    transition: 300ms;

    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    @media screen and (min-width: $md-min) {
      padding: ($gutter / 2) ($gutter * 2);
      width: auto;
      border: 1px solid transparent;
      border-bottom: none;
      background-color: transparent;
      color: $theme-black;
      border-radius: 0;
    }

    &:hover {
      background-color: $primary-darker;

      @media screen and (min-width: $md-min) {
        background-color: transparent;
        color: $primary;
      }
    }

    &--selected {
      background-color: $primary-darker;
      border-color: $gray-light;
      color: $white;

      &:first-child {
        border-radius: 5px 5px 0 0;
      }

      @media screen and (min-width: $md-min) {
        background-color: $white;
        color: $theme-black;
        border-radius: 5px 5px 0 0;
      }
    }

    &--disabled {
      color: $gray;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: $white;
      }
    }
  }

  &__tab-panel {
    display: none;
    padding: ($gutter / 2) 0;

    &--selected {
      display: block;
    }
  }
}
