.video {
  width: 100%;
  margin: $gutter auto;

  &--small {
    @media screen and (min-width: $breakpoint_l) {
      max-width: 768px;
    }
  }

  &__source {
    width: 100%;
    outline: none;
  }

  &__iframe {
    width: 100%;
    padding-top: 56.25%;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
