@import "../../assets/styles/common/variables";

.header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 1301;
  background-color: rgba(39, 38, 43, 0.2);
  padding: 10px 16px;
  max-height: 80px;
  box-sizing: border-box;
  font-family: $mainTextFamilyRegular;
  flex-direction: row-reverse;

  @media screen and (min-width: $breakpoint_l) {
    flex-direction: row;
    padding: 10px 30px;
    z-index: 2;
  }

  &__black {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1301;
    background-color: black;
    padding: 10px 16px;
    max-height: 80px;
    box-sizing: border-box;
    font-family: $mainTextFamilyRegular;
    flex-direction: row-reverse;

    @media screen and (min-width: $breakpoint_l) {
      flex-direction: row;
      padding: 10px 30px;
      z-index: 2;
    }

    & .header__nav-items {
      color: white;
      align-items: center;

      li {
        &::after {
          background-color: #ED9954;
          width: 15px;
          height: 4px;
          position: absolute;
          top: 0px;
          left: 0;
          right: 0;
        }
      }
    }
  }

  &__burger_menu {
    display: block;
    min-width: 32px;
    @media screen and (min-width: $breakpoint_l) {
      display: none;
    }
  }

  &__navbar-center {
    display: flex;
    justify-content: space-around;
  }

  // &__logo {}

  &__login {
    display: flex;
    justify-content: flex-end;

    & .pure-button {
      display: flex;
      padding: 10px 34px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      background-color: transparent;
      position: relative;
      border: 2px solid #ed9954;
      outline: none;
      cursor: pointer;

      &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: border 0.2s;
        border: 3px solid transparent;
        border-radius: 5px;
      }

      &:not(:disabled):hover:after {
        border: 3px solid #ED9954;
        margin: -1px;
        cursor: pointer;
      }
    }

    &-wrapper {
      display: none;

      @media screen and (min-width: $breakpoint_l) {
        display: flex;

        .auth-buttons {
          flex-direction: row-reverse;
        }

        & > div {
          display: flex;
        }
      }
    }

    & > div {
      margin-left: auto;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    &-items {
      display: none;

      @media screen and (min-width: $breakpoint_l) {
        display: flex;
        justify-content: center;
      }

      & ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: auto;
        width: 100%;
        padding-inline-start: 0px;
        font-size: 20px;

        li {
          a {
            &:after {
              background-color: #ED9954;
              width: 15px;
              height: 4px;
              position: absolute;
              top: -23px;
              left: 13px;
            }
          }
        }
      }
    }
  }

  &__zip-search-button {
    position: relative;

    @media screen and (max-width: 960px) {
      margin-left: auto;
    }

    & .pure-button {
      display: flex;
      align-items: center;
      padding: 0px 42px;
      white-space: nowrap;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      background-color: transparent;
      position: relative;
      border: 2px solid #ed9954;
      outline: none;
      cursor: pointer;
      height: 44px;

      &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: border 0.2s;
        border: 3px solid transparent;
        border-radius: 5px;
      }

      &:not(:disabled):hover:after {
        border: 3px solid #ED9954;
        margin: -1px;
        cursor: pointer;
      }

      @media screen and (min-width: 970px) {}

      @media screen and (max-width: 1200px) {
        font-size: 16px;
      }
    }

    &-wrapper {
      display: flex;

      & > div {
        display: flex;
      }

      @media screen and (max-width: 960px) {
        display: none;
      }
    }

    & > div {
      margin-left: auto;
      margin-top: 6px;
      margin-right: 58px;
    }
  }
}
