.pure-button:not(:disabled) {
    border: 2px solid #ED9954;
  }
  
  .pure-button {
    outline: none;
    &:disabled {
      border: 2px solid #D8D8D8;
    }
    @media screen and (max-width: 1150px) {
			padding: 10px 41px;
    }
    @media screen and (max-width: 970px) {
			padding: 10px 20px;
    }
    @media screen and (max-width: 835px) {
			padding: 10px 9px;
		}
    display: flex;
    padding: 10px 76px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    position: relative;
    
  }
  
  .pure-button:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: border 0.2s;
    border: 3px solid transparent;
    border-radius: 5px;
  }
  
  .pure-button:not(:disabled):hover:after {
    border: 3px solid #ED9954;
    margin: -1px;
    cursor: pointer;
  }

  .header__nav-link-burger-visible {
    display: none;
  }



    //   /* display: flex; */
    // /* justify-content: space-between; */
    // margin: auto;
    // /* position: absolute; */
    // /* left: 50%; */
    // -webkit-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
  