@import "../../../assets/styles/common/variables";

.review-root {
  max-width: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 22px;
  color: #27262B;

  & > div {
    display: flex;
    margin-bottom: 8px;

    & > img, .initials {
      min-width: 60px;
      max-width: 60px;
      height: 60px;
      margin-right: 21px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 20px;
    }

    & > div {
      & > p {
        display: flex;
        align-items: center;
        line-height: 14px;

        & span:last-of-type {
          font-family: $secondaryTextFamily;
          font-size: 14px;
          line-height: 14px;
          display: inline-block;
          margin-left: 12.5px;
        }
      }
    }
  }

  & > span {
    font-family: $secondaryTextFamily;
    font-size: 16px;
    line-height: 28px;
    max-height: 56px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $black_272;
    min-height: 28px;

    &.whole-visible {
      overflow: unset;
      white-space: unset;
      max-height: unset;
    }
  }

  & > button {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 25px;
    align-self: flex-start;
    margin-top: 8px;
  }
}
